
/*--- main-serv-screen ---*/

.main-serv-screen{
  background-color: $accent;
  padding-top: 220px;
  padding-bottom: 135px;
  position: relative;

  @media(max-width: 1200px){
    padding-top: 200px;
    padding-bottom: 115px;
  }

  @media(max-width: 767px){
    padding-top: 150px;
    padding-bottom: 0px;
  }

  .bg-pic{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    width: 100%;
    z-index: 1;
  }

  .content{
    position: relative;
    z-index: 2;

    h1{
      font-size: 50px;
      line-height: 1.4;
      letter-spacing: 0.02em;
      color: #FFFFFF;
      font-family: $f-Ex-bold;
      margin-bottom: 60px;

      @media(max-width: 1200px){
        font-size: 40px;
        margin-bottom: 50px;
      }

      @media(max-width: 767px){
        font-size: 5vw;
      }

      @media(max-width: 575px){
        font-size: 6.5vw;
      }
    }

    .button{
      background-color: #ffffff;
      padding-left: 30px;
      padding-right: 75px;
      position: relative;
      color: #333333;
      transition: all 0.5s;
      display: inline-block;

      @media(max-width: 1200px){
        padding-left: 20px;
        padding-right: 65px;
      }

      svg{
        position: absolute;
        right: 30px;
        top: 50%;
        margin-top: -12px;
        width: 24px;
        height: auto;
        transition: all 0.5s;

        @media(max-width: 1200px){
          right: 20px;
        }

        @media(max-width: 767px){
          width: 20px;
          margin-top: -10px;
        }
      }

      &:hover{
        box-shadow: 0px 4px 30px rgba(255, 255, 255, 0.5);

        svg{
          right: 25px;
        }
      }
    }

    .phone-slider-wrapper{
      width: 305px;
      position: absolute;
      top: -80px;
      right: 0;

      @media(max-width: 1200px){
        width: 265px;
        top: -100px;
      }

      @media(max-width: 992px){
        position: relative;
        top: 0;
        margin: 60px auto -50%;
      }

      @media(max-width: 767px){
        width: 220px;
      }

      @media(max-width: 370px){
        margin-bottom: -70%;
      }

      @media(max-width: 575px){
        width: 200px;
      }

      .text-wrapper{
        position: absolute;
        background-color: #ffffff;
        /*width: 265px;*/
        opacity: 0;
        /*width: 245px;
        height: 115px;*/
        width: 230px;
        height: 121px;
        border-radius: 10px;
        top: 350px;
        /*left: -235px;*/
        left: -220px;
        z-index: 2;
        transition: all 0.5s;
        transform: translateX(100%);

        @media(max-width: 1200px){
          top: 318px;
         /* left: -230px;*/
          left: -215px;
        }

        @media(max-width: 992px){
          top: 140px;
          left: -195px;
          width: 220px;
          display: none;
        }

        @media(max-width: 767px){
          /*left: -175px;
          height: 105px;
          top: 130px;*/
          display: none;
        }

        /*@media(max-width: 360px){
          left: 105px;
          width: 255px;
        }*/

        &:after{
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          width: 10px;
          box-shadow: -3px 0 5px 0 rgba(0,0,0,0.2);

          @media(max-width: 1200px){
            width: 15px;
          }

          @media(max-width: 992px){
            width: 8px;
          }

        }

        svg{
          width: 180px;
          height: auto;
          margin-top: 15px;
          margin-left: 15px;

          @media(max-width: 767px){
            width: 160px;
          }
        }

        &.visual{
          transform: translateX(0);
          opacity: 1;
        }
      }

      .mockup-pic{
        width: 100%;
        height: auto;
        z-index: 3;
        display: block;
        position: absolute;
        top: 0;
        left: 0;

        @media(max-width: 992px){
          position: relative;
          display: block;
          top: auto;
          left: auto;
          width: 100%;
          height: auto;
        }
      }

      .sh-pic{
        position: absolute;
        left: -14px;
        bottom: -43px;
        width: 470px;
        max-width: 470px;
        height: auto;
        z-index: 1;

        @media(max-width: 1200px){
          width: 440px;
          bottom: -39px;
        }

        @media(max-width: 992px){
          display: none;
        }
      }

      video{
        position: relative;
        z-index: 2;
        width: 270px;
        /*height: auto;*/
        height: 701px;
        /*margin-top: 18px;*/
        margin-top: -12px;
        margin-left: 8px;
        transform: perspective(2000px) rotateY(-12deg);
        /*border-radius: 0 0 30px 30px;*/
        border-radius: 30px;

        @media(max-width: 1200px){
          width: 236px;
          /*margin-top: 16px;*/
          margin-top: -11px;
          margin-left: 7px;
          height: 615px;
        }

        @media(max-width: 992px){
          display: none;
        }
      }

      .mob-pic{
        display: none;

        @media(max-width: 992px){
          display: block;
          width: 100%;
          height: auto;
        }
      }

      .mobile-main-phone{
        display: none;

        @media(max-width: 992px){
          display: block;
          width: 237px;
          height: auto;
          z-index: 2;
          position: absolute;
          top: 7px;
          left: 6px;
        }


        @media(max-width: 767px){
          width: 196px;
          top: 9px;
        }

        @media(max-width: 575px){
          width: 178px;
          left: 5px;
          top: 7px;
        }
      }
    }

  }
}

/*--- fb-partner ---*/

.fb-partner{
  /*padding-top: 80px;*/
  padding-top: 180px;
  padding-bottom: 140px;
  background-color: $accent;
  position: relative;
  /*overflow: hidden;*/

  @media(max-width: 992px){
    padding-top: 300px;
  }


  @media(max-width: 768px){
    /*padding-top: 70px;*/
    padding-top: 300px;
    padding-bottom: 110px;
  }

  @media(max-width: 575px){
    /*padding-top: 60px;*/
    padding-top: 300px;
    padding-bottom: 80px;
  }

  @media(max-width: 370px){
    /*padding-top: 60px;*/
    padding-top: 300px;
    padding-bottom: 60px;
  }

  .container{
    position: relative;
    z-index: 5;
  }

  .text-pic{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: 1;
  }

  .block-title{
    color: #ffffff;
    margin-bottom: 60px;

    @media(max-width: 992px){
      margin-bottom: 40px;
    }

    @media(max-width: 575px){
      margin-bottom: 30px;
    }
  }

  .content{
    position: relative;
    z-index: 3;

    @media(max-width: 992px){
      display: flex;
      flex-wrap: wrap;
      /*flex-direction: column-reverse;*/
    }

    .bg-pic-wrapper{
      position: absolute;
      width: 702px;
      height: 702px;
      border-radius: 50%;
      border: 1px solid rgba(240,240,244,0.2);
      bottom: -374px;
      right: -105px;

      @media(max-width: 1200px){
        right: -165px;
      }

      @media(max-width: 992px){
        /*border: none;*/
        position: relative;
        width: 690px;
        height: 690px;
        right: 0;
        bottom: 0;
        margin-bottom: -450px;

        /*@media(max-width: 575px){
          margin-bottom: 30px;
        }*/
      }

      @media(max-width: 768px){
        width: 510px;
        height: 510px;
        margin-bottom: -300px;
      }

      @media(max-width: 540px){
         margin-right: -1px;
      }

      &:before{
        content: '';
        position: absolute;
        width: 586px;
        height: 586px;
        border-radius: 50%;
        border: 1px solid rgba(240,240,244,0.2);
        top: 58px;
        left: 58px;
        z-index: 1;

        @media(max-width: 992px){
          /*display: none;*/
          width: 574px;
          height: 574px;
        }

        @media(max-width: 768px){
          width: 394px;
          height: 394px;
        }
      }

      &:after{
        content: '';
        position: absolute;
        width: 455px;
        height: 455px;
        border-radius: 50%;
        border: 1px solid rgba(240,240,244,0.2);
        top: 123.5px;
        left: 123.5px;
        z-index: 1;

        @media(max-width: 992px){
          /*display: none;*/
          width: 443px;
          height: 443px;
        }

        @media(max-width: 768px){
          width: 263px;
          height: 263px;
        }
      }

      .text-wrapper{
        position: absolute;
        background-color: #ffffff;
        width: 265px;
        height: 115px;
        border-radius: 10px;
        top: -20px;
        left: 130px;
        z-index: 2;
        display: none;

        @media(max-width: 768px){
          left: 120px;
          /*display: block;*/
        }

        @media(max-width: 360px){
          left: 105px;
          width: 255px;
        }

        svg{
          width: 180px;
          height: auto;
          margin-top: 15px;
          margin-left: 15px;
        }
      }

      .pic-wrapper{
        width: 100%;
        position: absolute;
        top: -155px;
        left: 0;
        z-index: 3;
        -webkit-animation: rocket-movement 3s infinite linear;
        animation: rocket-movement 3s infinite linear;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        transition: all 0.5s;

        @media(max-width: 768px){
          left: 75px;
          top: -90px;
        }

        @media(max-width: 360px){
          left: 60px;
        }


        @-webkit-keyframes rocket-movement {
          0% {
            transform: translateX(0);
          }
          25%{
            transform: translateX(5px);
          }
          50%{
            transform: translateX(0);
          }
          75%{
            transform: translateX(-5px);
          }
          100% {
            transform: translateX(0);
          }
        }

        @keyframes rocket-movement {
          0% {
            transform: translateX(0);
          }
          25%{
            transform: translateX(5px);
          }
          50%{
            transform: translateX(0);
          }
          75%{
            transform: translateX(-5px);
          }
          100% {
            transform: translateX(0);
          }
        }

        @media(max-width: 992px){
          /*display: none;*/
        }

        img{
          width: 100%;
          height: auto;
        }
      }
    }

    .slider-wrapper{
      width: 540px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      @media(max-width: 992px){
        margin-bottom: 160px;
      }

      @media(max-width: 768px){
        width: 100%;
        margin-bottom: 100px;
      }

      .slide-navigation{
        width: 36px;

        .slick-list{
          height: 230px !important;
        }

        .sl-nav{
          width: 36px;
          height: 36px;
          border-radius: 50%;
          border: 1px solid #ffffff;
          margin-bottom: 60px;
          position: relative;
          cursor: pointer;

          &:after{
            content: '';
            width: 1px;
            height: 60px;
            background-color: #ffffff;
            position: absolute;
            bottom: -60px;
            left: 16px;
          }

          &:nth-child(2){
            margin-bottom: 0;
            &:after{
              display: none;
            }
          }
          /*&:nth-last-child{
            margin-bottom: 0;
            &:after{
              display: none;
            }
          }*/

          span{
            height: 34px;
            width: 34px;
            border-radius: 50%;
            border: 2px solid $accent;
            background-color: $accent;
            line-height: 30px;
            color: #ffffff;
            font-size: 18px;
            font-family: $f-bold;
            text-align: center;
            display: block;
            transition: all 0.5s;
          }
        }

        .sl-nav.slick-current{
          span{
            background-color: #ffffff;
            color: $accent;
          }
        }
      }

      .fb-slider{
        width: 445px;

        @media(max-width: 768px){
          width: 430px;
        }

        @media(max-width: 520px){
          width: 80%;
        }

        h3{
          margin-bottom: 15px;
          font-family: $f-bold;
          line-height: 1.5;
          color: #ffffff;
          font-size: 24px;

          @media(max-width: 575px){
            font-size: 22px;
          }

          @media(max-width: 440px){
            font-size: 20px;
          }
        }

        p{
          margin-bottom: 0;
          color: #ffffff;
          font-size: 16px;
          line-height: 1.6;
        }
      }
    }
  }
}

/*--- our-approach ---*/

.our-approach{
  background-color: #FAFAFC;
  padding-top: 90px;
  padding-bottom: 80px;

  @media(max-width: 992px){
    padding-top: 130px;
  }

  @media(max-width: 767px){
    padding-top: 110px;
  }

  @media(max-width: 575px){
    padding-bottom: 0;
    padding-top: 120px;
  }

  @media(max-width: 440px){
    padding-top: 140px;
  }

  .block-title{
    margin-bottom: 55px;
    color: #181A22;
  }

  .sub-content{
    margin-bottom: 115px;

    @media(max-width: 575px){
      margin-bottom: 80px;
    }

    .subtitle{
      font-size: 24px;
      font-family: $f-bold;
      color: #181A22;
      margin-bottom: 15px;

      @media(max-width: 575px){
        font-size: 22px;
      }
    }

    .text{
      max-width: 830px;
      font-size: 16px;
      color: #6B799A;
      line-height: 1.5;

      p{
        margin-bottom: 15px;

        strong{
          color: $accent;
          font-family: $f-bold;
        }
      }

      ul{
        padding: 0;
        margin: 0;

        li{
          list-style: none;
          margin-bottom: 20px;
          padding-left: 65px;
          background-image: url("../img/list-stule.svg");
          background-repeat: no-repeat;
          background-position: top left;

          @media(max-width: 575px){
            padding-left: 45px;
          }

          &:last-child{
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .steps-container{
    margin-bottom: 95px;

    .step{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 70px;

      @media(max-width: 768px){
        margin-bottom: 90px;
        justify-content: space-around;
        flex-wrap: wrap;
      }

      .media-wrapper{
        width: 445px;
        background-color: #ffffff;
        border: 1px solid #F0F0F4;
        box-shadow: 0px 8px 15px rgba(174, 172, 236, 0.25);

        @media(max-width: 1200px){
          width: 400px;
        }

        @media(max-width: 992px){
          width: 320px;
        }

        @media(max-width: 440px){
          width: 100%;
        }
      }

      .text{
        width: 540px;
        position: relative;

        @media(max-width: 1200px){
          width: 450px;
        }

        @media(max-width: 992px){
          width: 350px;
        }

        @media(max-width: 768px){
          width: 100%;
          margin-bottom: 40px;
        }

        .step-number{
          position: absolute;
          font-size: 96px;
          line-height: 1.1;
          font-family: $f-bold;
          background: linear-gradient(90deg, rgba(228, 228, 246, 0) 0%, #E4E4F6 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          color: #6B799A;
          top: -40px;
          right: 0;
          z-index: 1;

          @media(max-width: 992px){
            font-size: 86px;
          }
        }

        .step-name{
          font-family: $f-bold;
          font-size: 24px;
          color: #181A22;
          margin-bottom: 0;
          line-height: 1.5;
          position: relative;
          z-index: 2;

          @media(max-width: 1200px){
            font-size: 22px;
          }

          @media(max-width: 992px){
            font-size: 20px;
          }
        }

        .step-description{
          color: #6B799A;
          font-size: 16px;
          line-height: 1.6;
          margin-bottom: 0;
          margin-top: 15px;
          position: relative;
          z-index: 2;
        }
      }
    }

    .step1{
      .media-wrapper{
        padding: 23px 32px 34px 32px;

        @media(max-width: 440px){
          padding: 20px 25px 30px 25px;
        }

        h3{
          font-size: 14px;
          font-family: $f-bold;
          line-height: 1.2;
          text-transform: uppercase;
          text-align: center;
          color: #000000;
          margin-bottom: 20px;
        }

        .label{
          font-family: $f-S-bold;
          font-size: 10px;
          line-height: 1.2;
          color: #000000;
          margin-bottom: 10px;
        }

        .input-emulation{
          width: 100%;
          background-color: #F0F0F4;
          height: 30px;
          margin-bottom: 10px;
          padding-left: 10px;
          border-radius: 2px;
          border: 1px solid #F0F0F4;
          display: flex;
          transition: all 0.5s;

          p{
            margin-bottom: 0;
            color: #6B799A;
            font-size: 10px;
            line-height: 30px;
            font-family: $f-med;
          }

          &:last-child{
            height: 60px;
            padding-top: 10px;

            p{
              line-height: 1.2;
            }
          }
        }

        .em-focus{
          border: 1px solid $accent;
        }
      }
    }

    .step2,
    .step5{
      .media-wrapper{
        height: 330px;

        @media(max-width: 1200px){
          height: 280px;
        }

        @media(max-width: 992px){
          height: 225px;
        }

        @media(max-width: 440px){
          height: 67vw;
        }
      }
    }

    .step3{
      flex-wrap: wrap;
      justify-content: space-around;

      .media-wrapper{
        width: 100%;
        border: none;
        background: none;
        box-shadow: none;

        .slide{
          margin: 0 15px;
          height: 470px;
          overflow: hidden;

          @media(max-width: 1200px){
            height: 605px;
          }

          @media(max-width: 992px){
            height: 430px;
          }

          @media(max-width: 768px){
            height: 660px;
          }

          @media(max-width: 575px){
            /*height: 450px;*/
            height: calc(((100vw - 60px)/100) * 139 );
          }
        }

        .slick-dots{
          position: relative;
          bottom: 0;
          margin-top: 60px;

          @media(max-width: 768px){
            margin-top: 30px;
          }

          @media(max-width: 440px){
            margin-top: 10px;
          }

          li{
            width: 10px;
            height: 10px;
            background-color: #E4E4F6;
            transition: all 0.5s;
            border-radius: 11px;

            button{
              display: none;
            }
          }

          .slick-active{
            width: 30px;
            background-color: $accent;
          }
        }
      }

      .text{
        width: 730px;
        margin-bottom: 80px;

        @media(max-width: 992px){
          width: 500px;
          margin-bottom: 70px;
        }

        @media(max-width: 768px){
          width: 100%;
          margin-bottom: 60px;
        }

        @media(max-width: 575px){
          margin-bottom: 50px;
        }

        @media(max-width: 440px){
          margin-bottom: 40px;
        }
      }
    }

    .step4{
      .media-wrapper{
        padding: 30px 32px;

        @media(max-width: 992px){
          padding: 25px 20px;
        }

        @media(max-width: 440px){
          padding: 20px 15px;
        }

        .inner-container{
          border-radius: 2px;
          background-color: #ffffff;
          border: 1px solid #F0F0F4;
          height: 240px;
          display: flex;

          .gr-block{
            height: 100%;
            width: 29px;
            background-color: rgba(107, 121, 154, 0.2);
            position: relative;

            .circle{
              width: 20px;
              height: 20px;
              border-radius: 50%;
              background-color: #F0F0F4;
              margin: 7px auto 8px;

              @media(max-width: 360px){
                width: 15px;
                height: 15px;
              }
            }

            .square{
              width: 20px;
              height: 20px;
              border-radius: 4px;

              @media(max-width: 360px){
                width: 15px;
                height: 15px;
              }
            }

            .square1{
              background-color: #ffffff;
              border: 1px solid $accent;
              margin: 0 auto 8px;
            }

            .square2{
              background-color: #F0F0F4;
              margin: 0 auto 131px;
            }

            .square3{
              border: 2px solid #F0F0F4;
              background-color: rgba(0,0,0,0);
              margin: 0 auto;
            }
          }

          .re-items{

            .item{
              width: 329px;
              height: 45px;
              background: #FFFFFF;
              box-shadow: 0px 2px 4px rgba(107, 121, 154, 0.25);
              border-radius: 2px;
              margin: 11px;
              display: flex;
              align-items: center;
              padding-left: 10px;
              padding-right: 10px;
              transition: all 0.5s;
              border-top: 2px solid rgba(0,0,0,0);

              @media(max-width: 1200px){
                width: 280px;
              }

              @media(max-width: 992px){
                width: 230px;
                padding-left: 5px;
                padding-right: 5px;
              }

              @media(max-width: 440px){
                width: 65vw;
                margin: 11px 3vw;
              }

              @media(max-width: 340px){
                width: 66vw;
              }

              .small{
                font-size: 6px;
                color: #6B799A;
                line-height: 1.6;
                margin-bottom: 0;
              }

              p{
                font-size: 12px;
                font-family: $f-med;
                color: #181A22;
                margin-bottom: 0;

                @media(max-width: 992px){
                  font-size: 10px;
                }
              }

              .left{
                width: 195px;

                @media(max-width: 992px){
                  width: 160px;
                }

                .name{
                  transition: all 0.5s;
                }
              }

              hr{
                width: 2px;
                height: 100%;
                border: none;
                background: linear-gradient(180deg, rgba(240, 240, 244, 0) 0%, #F0F0F4 47.92%, rgba(240, 240, 244, 0) 100%);
                margin-right: 16px;

                @media(max-width: 340px){
                  margin-right: 5px;
                }
              }

              .right{
                p{
                  color: #6B799A;
                }
              }
            }

            .animation-item{
              display: none;
            }

            .new{
              border-top: 2px solid $accent;
              .left{
                .name{
                  color: $accent;
                }
              }
            }
          }
        }
      }
    }

    .step1,
    .step5{
      @media(max-width: 768px){
        flex-direction: column-reverse;
      }

    }
    .step6{
      .media-wrapper{
        padding: 35px 32px;

        @media(max-width: 992px){
          padding: 25px 22px;
        }

        @media(max-width: 370px){
          padding: 20px 10px;
        }

        .step6-slider{
          height: 250px;
          overflow: hidden;

          @media(max-width: 992px){
            height: 230px;
          }
        }

        .slick-list{
          margin-top: -50px;
        }

        .slide{
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 9px 12px;
          width: 300px !important;
          background: #FFFFFF;
          box-shadow: 0px 2px 8px rgba(107, 121, 154, 0.25);
          border-radius: 2px;
          margin: 10px 40px;
          transition: all 0.5s;
          border-left: 3px solid rgba(0,0,0,0);

          @media(max-width: 1200px){
            width: 290px !important;
            margin: 10px 22px;
          }

          @media(max-width: 992px){
            width: 244px !important;
            margin: 10px 15px;
          }

          @media(max-width: 440px){
            width: 90% !important;
          }

          @media(max-width: 370px){
            padding: 9px 8px;
          }

          p{
            font-size: 16px;
            line-height: 1.6;
            font-family: $f-S-bold;
            margin-bottom: 0;

            @media(max-width: 1200px){
              font-size: 14px;
            }

            @media(max-width: 370px){
              font-size: 12px;
            }
          }

          .small{
            font-size: 12px;
            line-height: 1.6;
            margin-bottom: 0;
            font-family: $f-main;
            color: #6B799A;

            @media(max-width: 992px){
              font-size: 10px;
            }
          }

          .right{
            p{
              font-size: 14px;
              color: #6B799A;
              font-family: $f-main;

              @media(max-width: 1200px){
                font-size: 12px;
              }

              @media(max-width: 992px){
                font-size: 10px;
              }
            }
          }
        }

        .slick-current{
          width: 364px !important;
          margin: 10px 10px;
          border-left: 3px solid $accent;

          @media(max-width: 1200px){
            width: 314px !important;
          }

          @media(max-width: 992px){
            width: 260px !important;
            margin: 10px 7px;
          }

          @media(max-width: 440px){
            width: 96% !important;
          }
        }
      }
    }
  }

  .work-loop-wrapper{
    background: linear-gradient(86.12deg, #221EC4 2.84%, #161393 20.31%, #221EC4 37.38%, #221EC4 100%);;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    padding: 40px 30px 30px 30px;
    position: relative;

    @media(max-width: 768px){
      justify-content: space-around;
      flex-wrap: wrap;
      align-items: flex-start;
      padding-top: 0;
      background: $accent;
    }

    @media(max-width: 575px){
      padding: 0 15px 30px;
    }

    @media(max-width: 575px){
      border-radius: 0;
    }

    .pic-wrapper{
      position: absolute;
      width: 238px;
      left: 30px;
      top: 50%;
      transform: translateY(-50%);

      @media(max-width: 768px){
        position: relative;
        left: 0;
        top: 0;
        transform: translateY(0);
        margin-top: -80px;
      }

      @media(max-width: 575px){
        width: 200px;
      }

      img{
        width: 100%;
        height: auto;
      }
    }

    .text{
      color: #ffffff;

      h3{
        font-family: $f-bold;
        font-size: 20px;
        line-height: 1.2;
        margin-bottom: 10px;

        @media(max-width: 440px){
          font-size: 4.5vw;
          text-align: center;
        }
      }

      p{
        font-size: 68px;
        font-family: $f-bold;
        margin-bottom: 0;
        line-height: 1.5;

        @media(max-width: 440px){
          font-size: 15vw;
          text-align: center;
        }
      }
    }
  }
}

/*--- cooperation-with-agency ---*/

.cooperation-with-agency{
  padding-top: 680px;
  padding-bottom: 110px;
  background-color: #ffffff;

  @media(max-width: 1200px){
    padding-top: 640px;
  }

  @media(max-width: 992px){
    padding-top: 600px;
  }

  @media(max-width: 575px){
    padding-top: 580px;
  }

  .row{
    &:first-child{
      margin-bottom: 60px;

      @media(max-width: 992px){
        flex-direction: column-reverse;
        margin-bottom: 50px;
      }
    }
  }

  .block-pic-wrapper{
    position: relative;

    img{
      width: 100%;
      height: auto;
    }
  }

  .text{
    .small-block-title{
      color: #181A22;
      margin-bottom: 30px;
    }

    p{
      font-size: 16px;
      line-height: 1.6;
      color: #6B799A;
      margin-bottom: 15px;

      &:last-child{
        margin-bottom: 0;
      }
    }
  }

  .work-group{
    position: relative;
    z-index: 2;

    .subtitle{
      color: #000000;
      text-align: center;
      margin-bottom: 60px;
      font-size: 24px;
      line-height: 1.5;
      font-family: $f-bold;

      @media(max-width: 575px){
        font-size: 22px;
      }
    }

    .men-wrapper{
      display: flex;
      /*justify-content: space-between;*/
      flex-wrap: wrap;
      justify-content: flex-start;

      /*@media(max-width: 992px){
        justify-content: flex-start;
        flex-wrap: wrap;
      }*/

      @media(max-width: 350px){
        justify-content: space-around;
      }

      .item{
        /*width: 160px;*/
        width: 33%;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 30px;
        text-align: center;

        /*@media(max-width: 992px){
          width: 33%;
          padding-left: 15px;
          padding-right: 15px;
          margin-bottom: 30px;
        }*/

        @media(max-width: 440px){
          width: 50%;
        }

        @media(max-width: 350px){
          width: 70%;
          padding-left: 0;
          padding-right: 0;
        }

        .photo-wrapper{
          width: 100%;
          border-radius: 10px;
          overflow: hidden;
          margin-bottom: 15px;

          img{
            width: 100%;
            height: auto;
          }
        }

        h4{
          font-size: 16px;
          font-family: $f-S-bold;
          color: #181A22;
          line-height: 1.6;
          margin-bottom: 0;
        }

        p{
          font-size: 16px;
          color: #6B799A;
          line-height: 1.6;
          margin-bottom: 0;

          @media(max-width: 575px){
            font-size: 14px;
          }
        }
      }
    }
  }

  .compromis{
    background-color: #FAFAFC;
    border-radius: 10px;
    padding-top: 215px;
    padding-bottom: 65px;
    margin-top: -150px;
    position: relative;
    z-index: 1;

    @media(max-width: 575px){
      border-radius: 0;
    }

    .small-block-title{
      text-align: center;
      color: $accent;
      margin-bottom: 0;
    }
  }
}

/*--- start-add ---*/

.start-add{
  background-color: $accent;
  padding-top: 90px;
  padding-bottom: 80px;
  overflow: hidden;

  .content{
    position: relative;
    color: #ffffff;

    .small-block-title{
      margin-bottom: 15px;
      max-width: 660px;
      position: relative;
      z-index: 2;
    }

    p{
      font-size: 24px;
      font-family: $f-med;
      max-width: 625px;
      margin-bottom: 50px;
      position: relative;
      z-index: 2;
    }

    .button{
      background-color: #ffffff;
      color: #181A22;
      padding-left: 30px;
      padding-right: 30px;
      position: relative;
      z-index: 2;
      transition: all 0.5s;
      display: inline-block;

      &:hover{
        color: $accent;
        box-shadow: 0px 4px 30px rgba(255, 255, 255, 0.5);
      }
    }

    .pic-wrapper{
      position: absolute;
      width: 581px;
      height: 581px;
      border-radius: 50%;
      border: 1px solid rgba(240,240,244,0.2);
      top: 50%;
      transform: translateY(-50%);
      right: -120px;
      z-index: 1;

      @media(max-width: 992px){
        right: 50%;
        transform: translateY(-50%) translateX(50%);
        border: 1px solid rgba(240,240,244,0.15);
      }


      &:before{
        content: '';
        position: absolute;
        width: 485px;
        height: 485px;
        border-radius: 50%;
        border: 1px solid rgba(240,240,244,0.2);
        top: 48px;
        left: 48px;

        @media(max-width: 992px){
          border: 1px solid rgba(240,240,244,0.15);
        }

      }

      &:after{
        content: '';
        position: absolute;
        width: 390px;
        height: 390px;
        border-radius: 50%;
        border: 1px solid rgba(240,240,244,0.2);
        top: 94.5px;
        left: 94.5px;

        @media(max-width: 992px){
          border: 1px solid rgba(240,240,244,0.15);
        }

      }

      img{
        width: 626px;
        height: auto;
        margin-top: 50px;
        margin-left: 8px;
        max-width: 626px;

        @media(max-width: 992px){
          opacity: 0.2;
        }
      }
    }
  }
}

/*--- Custom Common Element ---*/

.page-template-template-target{

  /*--- our-cases ---*/

  .our-cases{
    @media(max-width: 992px){
      padding-top: 240px;
    }

    @media(max-width: 767px){
      padding-top: 280px;
    }

    @media(max-width: 440px){
      padding-top: 240px;
    }

    @media(max-width: 370px){
      padding-top: 260px;
    }

    .text-center{
      @media(max-width: 767px){
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
      }
    }

    .button{
      display: inline-flex;
      align-items: center;
      margin: 0 15px;

      @media(max-width: 440px){
        margin-left: 0;
        margin-right: 0;
      }

      svg{
        width: 14px;
        height: auto;
      }

      &.more{
        @media(max-width: 767px){
          order: 2;
          /*flex-direction: row-reverse;*/
        }
        svg{
          /*margin-right: 20px;*/
          margin-left: 20px;

          @media(max-width: 767px){
            margin-right: 0;
            margin-left: 20px;
          }
        }
      }

      &.less{
        background-color: #F8F8FA;
        color: #C6CCDA;

        @media(max-width: 767px){
          order: 1;
          margin-bottom: 20px;
          flex-direction: row-reverse;
        }

        svg{
          /*margin-left: 20px;*/
          margin-right: 20px;

          @media(max-width: 767px){
            margin-right: 0;
            margin-left: 20px;
          }
        }

        &:hover{
          background-color: #F0F0F4;
        }
      }
    }
  }

  /*--- reviews ---*/

  .reviews{
    padding-bottom: 595px;
  }

  /*--- more-services ---*/

  .more-services{
    padding-top: 90px;

    @media(max-width: 768px){
      padding-top: 60px;
    }
  }
}