/*--- Basic styles ---*/
html { overflow-x: hidden; }

body{
    font-family: @main-font;
    color:@main-color;
    font-size: 16px;
    line-height: 1.6;
    padding-right: 0 !important;
}

.wrapper{
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    position: relative;
}

.bigslide{
    display: block;
    width: 120px;
}

.wrap{
    max-width: 1140px;
    margin: 0 auto;
    position: relative;

    @media(max-width: 1160px){
        padding: 0 15px;
    }
}

*{
    box-sizing: border-box;
}

.fotorama__dot{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #4ca6ff;
}
.fotorama__nav__frame.fotorama__active .fotorama__dot{
    width: 10px;
    height: 10px;
    background-color: #4ca6ff;
    margin-top: 2.5px;
    margin-left: 2.5px;
}

.button{
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #ffffff;
    display: block;
    text-align: center;
    line-height: 70px;
    width: 282px;
    height: 70px;
    font-family: @main-font;
    cursor: pointer;
    border-radius: 4px;
    background-color: #007fff;
    border: none;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.14);

    &:hover{
        background-color: #3298FF;
    }
}

.block-title{
    font-size: 50px;
    font-family: @f-light;
    text-align: center;
    letter-spacing: 1px;
    line-height: 74px;
    
    @media(max-width: 510px){
        font-size: 46px;
        line-height: 54px;
    }

    @media(max-width: 390px){
        font-size: 26px;
        line-height: 34px;
    }

}

.flexbox{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.bg-img{
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
