@font-face {
	font-family: 'Circe-Bold';
	src: url('../fonts/Circe-Bold/Circe-Bold.eot');
	src: local('☺'),
	url('../fonts/Circe-Bold/Circe-Bold.woff') format('woff'),
	url('../fonts/Circe-Bold/Circe-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Circe-Rgular';
	src: url('../fonts/Circe-Rgular/Circe-Regular.eot');
	src: local('☺'),
	url('../fonts/Circe-Rgular/Circe-Regular.woff') format('woff'),
	url('../fonts/Circe-Rgular/Circe-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Circe-Light';
	src: url('../fonts/Circe-Light/Circe-Light.eot');
	src: local('☺'),
	url('../fonts/Circe-Light/Circe-Light.woff') format('woff'),
	url('../fonts/Circe-Light/Circe-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SFUIText-Regular';
	src: url('../fonts/SFUIText-Regular/SFUIText-Regular.eot');
	src: local('☺'),
	url('../fonts/SFUIText-Regular/SFUIText-Regular.woff') format('woff'),
	url('../fonts/SFUIText-Regular/SFUIText-Regular.svg') format('svg'),
	url('../fonts/SFUIText-Regular/SFUIText-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SFUIText-Semibold';
	src: url('../fonts/SFUIText-Semibold/SFUIText-Semibold.eot');
	src: local('☺'),
	url('../fonts/SFUIText-Semibold/SFUIText-Semibold.woff') format('woff'),
	url('../fonts/SFUIText-Semibold/SFUIText-Semibold.svg') format('svg'),
	url('../fonts/SFUIText-Semibold/SFUIText-Semibold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Circe-ExtraBold';
	src: url('../fonts/Circe-ExtraBold/Circe-ExtraBold.eot');
	src: local('☺'),
	url('../fonts/Circe-ExtraBold/Circe-ExtraBold.woff') format('woff'),
	url('../fonts/Circe-ExtraBold/Circe-ExtraBold.svg') format('svg'),
	url('../fonts/Circe-ExtraBold/Circe-ExtraBold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}