.price-page{
  header{
    height: 157px;
    padding-bottom: 200px;
  }

  .price-cintent{
    background-color: #e8f3fe;
    padding-bottom: 92px;

    h1{
      font-family: @f-bold;
      font-size: 42px;
      line-height: 1.43;
      letter-spacing: 1px;
      text-align: center;
      max-width: 700px;
      margin: -85px auto 10px;

      @media(max-width: 680px){
        font-size: 38px;
      }

      @media(max-width: 430px){
        font-size: 30px;
      }
    }

    h2{
      font-size: 30px;
      letter-spacing: 0.6px;
      text-align: center;
      line-height: 45px;
      margin-bottom: 38px;
    }

    .content{
      width: 945px;
      margin: 0 auto;

      @media(max-width: 970px){
        width: 100%;
      }

      table{
        max-width: 100%;

        @media(max-width: 700px){
          display: block;
          overflow-x: scroll;
        }

        .option-name{
          font-size: 20px;
          line-height: 1.5;
          letter-spacing: 0.5px;
          max-width: 500px;
          padding-bottom: 23px;
          padding-right: 47px;

          @media(max-width: 970px){
            font-size: 18px;
            padding-right: 20px;
            padding-bottom: 10px;
          }

          @media(max-width: 700px){
            width: 250px;
            max-width: 250px;
            min-width: 250px;
            font-size: 14px;
            letter-spacing: 0.2px;
            padding-bottom: 5px;
          }
        }

        .tarif-list{
          background-color: #ffffff;
          width: 222px;
          text-align: center;
          border-right: 23px solid #e8f3fe;
          font-size: 20px;

          @media(max-width: 970px){
            width: 180px;
            border-right: 10px solid #e8f3fe;
            min-width: 180px;
          }

          @media(max-width: 700px){
            width: 135px;
            max-width: 135px;
            font-size: 16px;
          }
        }

        .smal{
          font-size: 18px;
          letter-spacing: 0.6px;
          position: relative;

          span{
            font-size: 13px;
          }
        }

        .big{
          font-size: 32px;
          position: relative;

          @media(max-width: 700px){
            font-size: 28px;
          }

          span{
            font-size: 20px;
            vertical-align: top;
            position: absolute;
            left: 55px;
            top: 5px;

            @media(max-width: 970px){
              left: 44px;
            }

            @media(max-width: 700px){
              left: 18px;
              top: 3px;
            }
          }
        }

        .up{
          vertical-align: top;
          position: absolute;
          left: 94px;
          top: 7px;

          @media(max-width: 970px){
            left: 80px;
          }

          @media(max-width: 700px){
            left: 50px;
          }
        }

        span.ml{
          font-size: 20px;
          margin-right: 10px;
        }

        th{
          padding-top: 45px;
          padding-bottom: 34px;
          text-transform: uppercase;
          font-family: @f-bold;
          letter-spacing: 2px;

          @media(max-width: 970px){
            padding-top: 25px;
            padding-bottom: 14px;
          }
        }

        .t-button{
          text-decoration: none;
          text-align: center;
          color: #ffffff;
          font-size: 18px;
          line-height: 63px;
          display: block;
          font-family: @f-bold;
          letter-spacing: 1px;
          height: 63px;
          border-radius: 4px;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          background-color: #007fff;
          box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.14);

          @media(max-width: 700px){
            font-size: 14px;
            line-height: 43px;
            height: 43px;
          }

          &:hover{
            background-color: #3298FF;
          }
        }

        .pt{
          padding-top: 30px;

          @media(max-width: 700px){
            padding-top: 10px;
          }
        }
      }
    }
  }

  .question-answer{
    background-color: #e8f3fe;
    padding-bottom: 136px;

    h2{
      font-size: 30px;
      letter-spacing: 0.6px;
      text-align: center;
      line-height: 45px;
      margin-bottom: 15px;
    }

    .content{
      margin: 0 auto;
      width: 820px;
      background-color: #ffffff;
      border-radius: 10px;
      padding: 63px 100px;

      @media(max-width: 850px){
        width: 600px;
        padding: 45px;
      }

      @media(max-width: 630px){
        width: 400px;
        padding: 20px;
      }

      @media(max-width: 430px){
        width: 100%;
      }
    }

    .ui-accordion .ui-accordion-header{
      background-color: rgba(0,0,0,0);
      border-radius: 0;
      font-family: @main-font;
      font-size: 20px;
      line-height: 1.5;
      letter-spacing: 0.5px;
      text-align: left;
      color: #22578c;
      border: none;
      position: relative;
      padding-left: 0;
    }

    .ui-accordion .ui-accordion-header .ui-corner-all{
       border-bottom: 1px solid rgba(151,151,151,0.2);
     }

    .ui-state-active .ui-icon, .ui-button:active .ui-icon{
      background-image: url("../img/arrows.png");
      background-position: 0 0;
      position: absolute;
      right: 0;
      top: 25px;
    }

    .ui-icon, .ui-widget-content .ui-icon{
      background-image: url("../img/arrows2.png");
      background-position: 0 0;
      position: absolute;
      right: 0;
      top: 25px;
    }

    .ui-accordion .ui-accordion-content{
      padding: 0;
      border: none;
      font-family: @main-font;
      font-size: 18px;
      letter-spacing: 0.5px;
      color: #3d3d3d;
      padding-bottom: 27px;
      border-bottom: 1px solid rgba(151,151,151,0.2);
    }

    .ui-accordion-header-icon ui-icon ui-icon-triangle-1-s{
      background-image: url("../img/arrows.png");
      background-position: 0 0;
    }
  }

  .pay-content{
    background-color: #e8f3fe;
    padding-bottom: 106px;

    .wrap{
      @media(max-width: 550px){
        padding: 0 10px;
      }
    }

    h1{
      font-family: @f-bold;
      font-size: 42px;
      line-height: 1.43;
      letter-spacing: 1px;
      text-align: center;
      margin-bottom: 45px;
      margin-top: -85px;
    }

    .content{
      width: 860px;
      margin: 0 auto;
      .flexbox;
      justify-content: space-between;

      @media(max-width: 890px){
        width: 500px;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-direction: column-reverse;
      }

      @media(max-width: 530px){
        width: 100%;
      }

      .form{
        width: 290px;

        @media(max-width: 890px){
          margin: 0 auto;
        }

        h3{
          font-size: 20px;
          line-height: 1.5;
          letter-spacing: 0.5px;
          text-align: center;
          margin-bottom: 20px;
        }

        .input-field{
          width: 100%;
          height: 75px;
          margin-right: 14px;
          background-color: #FFFFFF;
          margin-bottom: 15px;
          font-family: @main-font;
          color: #3d3d3d;
          margin-top: 0;
          position: relative;

          &:nth-child(2){
            input{
              padding-left: 50px;
            }

            label{
              left: 50px;
            }

            .country-list{
              width: 300px;
            }

            .selected-flag{
              transition: all 1s;
              &:hover{
                background-color: #e7f3ff;
              }
            }
          }

          input {
            width: 100%;
            height: 75px;
            background-color: #ffffff;
            border: solid 1px #dddddd;
            font-size: 18px;
            color: #3d3d3d;
            padding-left: 25px;
            padding-top: 20px;
            box-sizing: border-box;
            padding-right: 40px;

            &:focus {
              border: solid 1px #007fff;
            }
          }

          label{
            position: absolute;
            left: 25px;
            top: 25px;
            transition: all 0.5s;
          }

          .active-pay {
            position: absolute;
            font-size: 12px;
            top: 13px;
            color: #007fff;
          }
        }

        button{
          width: 100%;
          height: 68px;
          border-radius: 4px;
          border: none;
          letter-spacing: 1px;
          background-color: #007fff;
          box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.14);
          color: #ffffff;
          font-size: 18px;
          margin-bottom: 27px;
          cursor: pointer;

          &:hover{
            background-color: #3298FF;
          }
        }

        p{
          font-size: 18px;
          letter-spacing: 0.5px;
          text-align: center;
          color: #3d3d3d;
          width: 260px;
          margin: 0 auto;
        }

        .has-success {
          &:after {
            position: absolute;
            top: 28px;
            right: 16px;
            width: 20px;
            height: 20px;
            content: url("../img/list_stule_check.svg");
          }

          input {
            border: 1px solid #5cc148;
          }
        }

        .has-error {
          &:after {
            position: absolute;
            top: 28px;
            right: 16px;
            width: 20px;
            height: 20px;
            content: url("../img/list_stule_dell.svg");
          }

          input {
            border: 1px solid #ed564b;
          }
        }
      }

      .tarif{
        padding-top: 35px;

        @media(max-width: 890px){
          margin-bottom: 30px;
        }

        .tarif-body{
          width: 460px;
          background-color: #ffffff;
          position: relative;
          padding: 37px;
          float: right;
          margin-bottom: 39px;

          @media(max-width: 890px){
            float: none;
            margin: 0 auto 39px;
          }

          @media(max-width: 530px){
            width: 300px;
            padding: 25px;
          }

          .top{
            .flexbox;
            justify-content: space-between;
            margin-bottom: 29px;

            p{
              font-size: 18px;
              letter-spacing: 0.5px;
              margin-bottom: 7px;
            }

            h3{
              font-size: 22px;
              font-family: @f-bold;
              line-height: 1.36;
              letter-spacing: 2px;
            }

            a{
              img{
                margin-top: 6px;
              }
            }
          }

          hr{
            width: 100%;
            height: 1px;
            opacity: 0.2;
            border: none;
            background: #979797;
          }

          .circle{
            position: absolute;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background-color: #e8f3fe;
            top: 120px;

            @media(max-width: 530px){
              top: 109px;
            }
          }

          .left{
            left:-12.5px;
          }

          .right{
            right: -12.5px;
          }


          .bottom{
            .flexbox;
            justify-content: space-between;
            margin-top: 27px;

            p{
              font-size: 16px;
              line-height: 1.44;
              letter-spacing: 0.4px;
            }

            .title{
              width: 200px;

              @media(max-width: 530px){
                width: 170px;
              }
            }

            .price{
              font-size: 31px;
              line-height: 0.97;
              letter-spacing: 1px;
              position: relative;

              span{
                font-size: 20px;
                vertical-align: top;
                position: absolute;
                left: -15px;
                top: 3px;
              }
            }
          }
        }

        .pay-sistem{
          clear: both;
          .flexbox;
          width: 385px;
          margin: 0 auto;
          flex-wrap: wrap;
          justify-content: space-around;

          @media(max-width: 400px){
            width: 260px;
          }

          p{
            margin-bottom: 21px;
            padding-right: 20px;

            @media(max-width: 400px){
              padding-right: 30px;
            }
          }

          .text{
            @media(max-width: 400px){
              text-align: center;
            }
            span{
              font-family: @f-bold;
            }
          }
        }
      }
    }
  }
  .prefooter{
    .phone-list-footer{
      top: -70px;

      @media(max-width: 713px){
        top: 70px;
      }
    }
  }
}