.youtoob-baner{
  position: fixed;
  top: 33%;
  left: 0;
  width: 42px;
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.16);
  border-top-right-radius: 30px;
  z-index: 1000;
  cursor: pointer;

  @media(max-width: 1255px){
    display: none;
  }

  .pley{
    background-color: #ed462f;
    width: 100%;
    height: 42px;
    border-top-right-radius: 30px;
    position: relative;

    a{
      position: absolute;
      top: 12px;
      left: 13px;
    }

  }

  .text{
    background-color: #e8f3fe;
    padding: 20px 0 40px;

    p{
      transform: rotate(-90deg);
      white-space: nowrap;
      margin-top: 75px;
      font-size: 14px;
      color: rgb(34,34,34);
      font-family: "Arial";
      margin-left: -7px;
    }
  }
}

.video-page{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 1000;
  display: none;
}

.video-window{
  position: relative;
  width: 1100px;
  height: 670px;
  margin: 100px auto 0;

  .close-video{
    position: absolute;
    top: -30px;
    right: -58px;
    cursor: pointer;
    transition: all 1s;

    &:hover{
      transform: rotate(90deg);
    }
  }

  .video{
    width: 100%;
    height: 620px;

    iframe{
      width: 100%;
      height: 620px;
    }
  }
}