
/*--- custom page styles ---*/

.page-template-template-smm{

  /*--- header ---*/

  header{
    background-color: rgba(0,0,0,0);

    .content{
      .logo{
        svg{
          path{
            fill: #181A22;

            &:nth-child(10),
            &:nth-child(11),
            &:nth-child(12){
              fill: $accent;
            }
          }
        }
      }

      .main-menu{
        li{
          a{
            color: #181A22;

            &:before,
            &:after{
              background-color: #181A22;
            }
          }
        }

        .menu-item-has-children{

          &:after{
            content: '';
            background-image: url("../img/black-arrow.svg");

          }

        }
      }

      .phone{
        color: #181A22;

        span{
          border: 1px solid #181A22;

          svg{
            path{
              fill: #181A22;
            }
          }
        }
      }

      .lang-wrapper{

        li{
          &:first-child{
            border-right: 1px solid #181A22;
          }

          a{
            color: #181A22;
          }
        }
      }

      .mob-menu-btn{
        div{
          background-color: #ffffff;
        }
      }
    }
  }

  /*--- main screen ---*/

  .main-serv-screen{
    /*background-image: url("../img/smm-main-bg.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-color: #ffffff;*/
    background: radial-gradient(73.93% 295.73% at 73.93% 55.68%, #FEDB6B 0%, #FEB529 100%);
    position: relative;
    padding-top: 120px;
    padding-bottom: 170px;

    @media(max-width: 992px){
      padding-bottom: 0;
    }

    /*@media(max-width: 767px){
      padding-bottom: 110px;
    }*/

    .content{
      position: relative;
      z-index: 1;
      /*text-align: center;*/

      @media(max-width: 575px){
        text-align: center;
      }

      &:before{
        content: '';
        position: absolute;
        border-radius: 50%;
        /*background-color: $accent;*/
        background-color: #181A22;
        opacity: 0.1;
        width: 410px;
        height: 410px;
        /*top: 85px;*/
        top: 40px;
        /*left: 50%;*/
        left: 136px;
        z-index: 1;
        /*transform: translateX(-50%);*/

        @media(max-width: 1200px){
          width: 360px;
          height: 360px;
          top: 30px;
          left: 115px;
        }

        @media(max-width: 992px){
          width: 310px;
          height: 310px;
          top: 15px;
          left: 100px;
        }

        @media(max-width: 575px){
          /*top: 11vw;*/
          top: 1vw;
          left: 50%;
          transform: translateX(-50%);
          width: 55vw;
          height: 55vw;
        }
      }

      h1{
        /*text-align: center;*/
        text-transform: uppercase;
        font-family: $f-bold;
        /*color: #ffffff;*/
        color: #181A22;
        font-size: 72px;
        line-height: 1.5;
        /*margin-bottom: 30px;*/
        margin-bottom: 80px;
        position: relative;
        z-index: 2;
        display: block !important;

        @media(max-width: 1200px){
          font-size: 62px;
        }

        @media(max-width: 992px){
          font-size: 52px;
        }

        @media(max-width: 575px){
          font-size: 9vw;
          text-align: center;
        }

        span{
          font-family: $f-Bleck;
          font-size: 254px;
          line-height: 1.5;
          text-fill-color: transparent;
          -webkit-text-fill-color: transparent;
          -webkit-text-stroke: 1px #181A22;
          display: block;
          /*margin-bottom: 12px;*/
          margin-bottom: -80px;

          @media(max-width: 1200px){
            font-size: 214px;
          }

          @media(max-width: 992px){
            font-size: 184px;
          }

          @media(max-width: 575px){
            font-size: 30vw;
            margin-bottom: -9vw;
          }
        }
      }

      p{
        width: 475px;
        /*margin: 0 auto 60px;*/
        margin-bottom: 40px;
        /*text-align: center;*/
        color: #181A22;
        font-size: 24px;
        font-family: $f-bold;
        position: relative;
        z-index: 2;

        @media(max-width: 1200px){
          margin-bottom: 40px;
        }

        @media(max-width: 992px){
          width: 460px;
          font-size: 20px;
        }

        @media(max-width: 575px){
          width: 100%;
          font-size: 18px;
          text-align: center;
        }
      }

      .block-pic{
        width: 341px;
        position: absolute;
        z-index: 3;
        top: 150px;
        left: 400px;

        @media(max-width: 1200px){
          width: 280px;
          top: 130px;
          left: 340px;
        }

        @media(max-width: 992px){
          width: 235px;
          top: 120px;
          left: 245px;
        }

        @media(max-width: 767px){
          left: 155px;
        }

        @media(max-width: 575px){
          width: 40vw;
          left: 30vw;
          top: 17vw;
        }

        img{
          width: 100%;
          height: auto;
        }
      }

      .button{
        margin: 0 auto;
      }

      //

      .smm-smile-animation-wrapper{
        position: absolute;
        bottom: -170px;
        right: -130px;
        width: 490px;
        z-index: 50;

        @media(max-width: 1200px){
          width: 390px;
          right: -50px;
        }

        @media(max-width: 992px){
          position: relative;
          bottom: 0;
          right: 0;
          margin: 0 auto;
        }

        @media(max-width: 767px){
          width: 290px;
          margin: 40px auto 0;
        }

        .pic-wrapper{
          width: 100%;

          img{
            width: 100%;
            height: auto;
          }
        }
      }

      .smile{
        position: absolute;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        transition: all 0.5s;
        top:330px;
        left: 215px;
        transform: scale(0) rotate(0);

        @media(max-width: 1200px){
          top: 270px;
          left: 165px;
        }

        @media(max-width: 767px){
          width: 45px;
          height: 45px;
        }

        svg{
          width: 100%;
          height: auto;
        }

        &.smile-1{

        }

        &.smile-2{

        }

        &.smile-3{

        }

        &.smile-4{

        }
      }
    }

    .go-down{
      position: absolute;
      border-radius: 50%;
      border: 1px solid;
      border-top-color: #181A22;
      border-right-color: #181A22;
      border-left-color: #181A22;
      border-bottom-color: #181A22;
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 220px;
      height: 220px;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%) translateY(50%) rotate(-45deg);
      z-index: 2;

      @media(max-width: 1200px){
        width: 200px;
        height: 200px;
      }

      @media(max-width: 992px){
        width: 180px;
        height: 180px;
      }

      @media(max-width: 768px){
        width: 160px;
        height: 160px;
      }

      @media(max-width: 575px){
        width: 140px;
        height: 140px;
      }

      .arrow-wrapper{
        transform: rotate(45deg);
        height: 120px;

        @media(max-width: 992px){
          height: 100px;
        }

        @media(max-width: 575px){
          height: 80px;
        }

        .white{
          width: 2px;
          height: 60px;
          background-color: #181A22;
          display: block;
          margin: 0 auto;

          @media(max-width: 992px){
            height: 50px;
          }

          @media(max-width: 575px){
            height: 40px;
          }
        }

        .blue{
          width: 2px;
          height: 60px;
          background-color: #181A22;
          display: block;
          margin: 0 auto;

          @media(max-width: 992px){
            height: 50px;
          }

          @media(max-width: 575px){
            height: 40px;
          }
        }

        svg{
          transform: rotate(-90deg);
          width: 8px;
          height: auto;
          margin-top: -30px;
        }
      }
    }

  }

  /*--- our-cases ---*/

  .our-cases{
    padding-top: 170px;
    padding-bottom: 90px;

    @media(max-width: 575px){
      padding-top: 110px;
    }

    .block-title{
      text-align: center;

      span{
        width: 47px;
        display: inline-block;

        img{
          width: 100%;
          height: auto;
        }
      }
    }

    .cases-list{
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 80px;

      @media(max-width: 1200px){
        margin-bottom: 70px;
      }

      @media(max-width: 992px){
        margin-bottom: 60px;
      }

      @media(max-width: 768px){
        margin-bottom: 50px;
      }

      @media(max-width: 575px){
        margin-bottom: 40px;
      }

      .case-item{
        width: 50%;
        position: relative;
        margin-bottom: 0 !important;

        @media(max-width: 575px){
          width: 100%;
        }

        .case-pic{
          width: 100%;
          height: auto;
          position: relative;
          z-index: 1;
        }

        .case-cat-teg-wrapper{
          position: absolute;
          padding: 25px 30px 25px 30px;
          top: 0;
          left: 0;
          right: 0;
          background: linear-gradient( rgba(0, 0, 0, 0) 100%, #000000 0%);
          color: #ffffff;
          text-align: right;
          z-index: 2;
          transition: all 0.5s;

          p{
            margin-bottom: 0;
            font-size: 16px;
            line-height: 1.6;
            font-weight: 300;
          }
        }

        .preview-content{
          position: absolute;
          padding: 65px 30px 30px 30px;
          left: 0;
          right: 0;
          z-index: 2;
          bottom: 0;
          background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
          color: #ffffff;
          transition: all 0.5s;

          @media(max-width: 768px){
            padding: 45px 15px 15px 15px;
          }

          h3{
            font-size: 24px;
            font-family: $f-bold;
            line-height: 1.5;
            margin-bottom: 10px;

            @media(max-width: 768px){
              font-size: 22px;
            }
          }

          p{
            margin-bottom: 0;
            font-size: 16px;
            line-height: 1.6;

            @media(max-width: 768px){
              font-size: 14px;
            }
          }
        }

        .hover-preview-content{
          position: absolute;
          background-color: rgba(34, 30, 196, 0.8);
          transition: all 0.5s;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          opacity: 0;
          z-index: 2;
          display: flex;
          align-items: center;
          color: #ffffff;

          @media(max-width: 992px){
            display: none;
          }

          .inner-content{
            padding: 0 40px;

            @media(max-width: 1440px){
              padding: 0 15px;
            }

            .case-logo-wrapper{
              margin-bottom: 40px;
              height: 50px;

              @media(max-width: 1440px){
                height: 40px;
                margin-bottom: 30px;
              }

              img{
                height: 100%;
                width: auto;
              }
            }

            h3{
              font-size: 24px;
              font-family: $f-bold;
              line-height: 1.5;
              margin-bottom: 10px;

              @media(max-width: 1440px){
                font-size: 22px;
              }
            }

            p{
              margin-bottom: 40px;
              font-size: 16px;
              line-height: 1.6;

              @media(max-width: 1440px){
                margin-bottom: 20px;
                font-size: 14px;
              }
            }

            .more{
              margin-bottom: 0;
            }
          }
        }

        &:hover{
          .case-cat-teg-wrapper,
          .preview-content{
            opacity: 0;

            @media(max-width: 992px){
              opacity: 1;
            }
          }

          .hover-preview-content{
            transition-delay: 0.2s;
            opacity: 1;
          }
        }
      }
    }
  }

  /*--- dream-team ---*/

  .dream-team{
    padding-bottom: 10px;
    background-color: #181A22;

    .block-title{
      color: #ffffff;
      margin-bottom: 30px;
    }

    .sub-title{
      text-align: center;
      color: #ffffff;
      font-family: $f-med;
      font-size: 24px;
      line-height: 1.5;
      margin-bottom: 50px;

      @media(max-width: 1200px){
        font-size: 22px;
      }

      @media(max-width: 767px){
        font-size: 20px;
      }

      @media(max-width: 575px){
        font-size: 18px;
      }

      @media(max-width: 440px) {
        font-size: 16px;
      }

      @media(max-width: 370px) {
        font-size: 14px;
      }
    }

    .slider-wrapper{
      .men-info{
        h3{
          color: #ffffff;
        }

        p{
          color: #ffffff;
        }
      }
    }
  }

  /*--- more-services  ---*/

  .more-services{
    padding-top: 90px;

    @media(max-width: 768px){
      padding-top: 60px;
    }
  }
}

/*--- business-in-good-hands ---*/

.business-in-good-hands{
  background-color: #FAFAFC;
  /*padding-top: 75px;*/
  padding-top: 170px;
  padding-bottom: 120px;

  @media(max-width: 1200px){
    padding-bottom: 110px;
  }

  @media(max-width: 992px){
    padding-bottom: 100px;
  }

  @media(max-width: 767px){
    padding-top: 110px;
    padding-bottom: 80px;
  }

  @media(max-width: 575px){
    /*padding-top: 70px;*/
    padding-bottom: 70px;
  }

  @media(max-width: 440px){
    /*padding-top: 60px;*/
    padding-bottom: 60px;
  }

  .block-title{
    margin-bottom: 50px;
    text-align: center;
    color: #181A22;
  }

  .items-wrapper{
    display: flex;
    justify-content: space-between;
    padding-right: 6.25vw;
    padding-left: 6.25vw;
    /*align-items: flex-start;*/

    @media(max-width: 1440px){
      padding-right: 5.2vw;
      padding-left: 5.2vw;
    }

    @media(max-width: 992px){
      justify-content: space-around;
      flex-wrap: wrap;
    }

    @media(max-width: 767px){
      padding-right: 15px;
      padding-left: 15px;
    }

    .item{
      border-radius: 10px;
      border: 1px solid #F0F0F4;
      padding: 40px 2.08vw 110px 2.08vw;
      background-color: #ffffff;
      transition: all 0.5s;
      width: 32%;
      position: relative;

      @media(max-width: 1440px){
        padding-top: 35px;
        padding-bottom: 94px;
      }

      @media(max-width: 1200px){
        padding: 30px 1.08vw 90px 1.08vw;
      }

      @media(max-width: 992px){
        padding: 40px 40px 45px 40px;
        width: 540px;
        margin-bottom: 30px;
      }

      @media(max-width: 575px){
        width: 85%;
        padding: 30px 15px;
      }

      @media(max-width: 440px){
        width: 100%;
      }

      h3{
        /*font-size: 36px;*/
        font-size: 1.8vw;
        line-height: 1.5;
        padding-bottom: 15px;
        font-family: $f-bold;
        color: #181A22;
        border-bottom: 1px solid $accent;
        margin-bottom: 30px;
        transition: all 0.5s;

        @media(max-width: 1200px){
          font-size: 2vw;
        }

        @media(max-width: 992px){
          font-size: 36px;
        }

        @media(max-width: 575px){
          font-size: 5vw;
        }

        @media(max-width: 440px){
          font-size: 6vw;
        }
      }

      p{
        font-size: 18px;
        color: #6B799A;
        margin-bottom: 55px;
        line-height: 1.52;
        transition: all 0.5s;
        height: auto;

        @media(max-width: 1440px){
          font-size: 16px;
        }

        /*&.more-text{
          height: 55px;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;

          @media(max-width: 1440px){
            height: 50px;
          }
        }*/

      }

      /*.more{
        display: flex;
        align-items: center;
        margin-bottom: 30px;

        span{
          font-size: 16px;
          line-height: 1.6;
          font-family: $f-S-bold;
          color: #181A22;
          transition: all 0.5s;
          margin-right: 10px;

          &:nth-child(2){
            display: none;
          }
        }

        svg{
          width: 8px;
          height: auto;
          transition: all 0.5s;

          path{
            fill: #181A22;
          }
        }

        &.open{
          span{
            &:nth-child(1){
              display: none;
            }
            &:nth-child(2){
              display: block;
            }
          }

          svg{
            transform: rotate(180deg);
          }
        }
      }*/

      .button{
        color: #ffffff;
        background-color: $accent;
        padding-left: 30px;
        padding-right: 30px;
        display: inline-block;
        position: absolute;
        left: 2.08vw;
        bottom: 45px;

        @media(max-width: 1440px){
          font-size: 14px;
          padding-top: 15px;
          padding-bottom: 15px;
          padding-left: 25px;
          padding-right: 25px;
          bottom: 40px;
        }

        @media(max-width: 1200px){
          padding-left: 20px;
          padding-right: 20px;
          bottom: 35px;
        }

        @media(max-width: 992px){
          position: relative;
          left: 0;
          bottom: 0;
        }

        svg{
          transition: all 0.5s;

          path{
            fill: #ffffff;
          }
        }
      }

      &:hover{
        background-color: $accent;
        border-color: $accent;

        h3{
          color: #ffffff;
          border-color: #ffffff;
        }

        p{
          color: #ffffff;
        }

        .more{
          span{
            color: #ffffff;
          }

          svg{
            path{
              fill: #ffffff;
            }
          }
        }

        .button{
          background-color: #ffffff;
          color: $accent;

          svg{
            path{
              fill: $accent;
            }
          }
        }
      }

      &.active{
        background-color: $accent;
        border-color: $accent;

        h3{
          color: #ffffff;
          border-color: #ffffff;
        }

        p{
          color: #ffffff;
        }

        .more{
          span{
            color: #ffffff;
          }

          svg{
            path{
              fill: #ffffff;
            }
          }
        }

        .button{
          background-color: #ffffff;
          color: $accent;

          svg{
            path{
              fill: $accent;
            }
          }
        }
      }
    }
  }
}

/*--- work-with-brands ---*/

.work-with-brands{
  background-color: #ffffff;
  padding-top: 90px;
  padding-bottom: 100px;

  .block-title{
    text-align: center;
    color: #181A22;
    margin-bottom: 60px;
  }

  .item{
    @media(max-width: 992px){
      margin-bottom: 30px;

      &:last-child{
        margin-bottom: 0;
      }
    }

    .pic-wrapper{
      width: 220px;
      position: relative;
      margin: 0 auto 40px;

      img{
        width: 160px;
        height: auto;
        display: block;
        max-width: 160px;
        margin: 0 auto;
        position: relative;
        z-index: 2;
      }

      &:after{
        content: '';
        position: absolute;
        height: 100px;
        border-radius: 10px;
        border: 1px solid #E4E4F6;
        background: #FAFAFC;
        top: 70px;
        left: 0;
        right: 0;
        z-index: 1;
      }
    }

    h3{
      font-size: 16px;
      line-height: 1.6;
      margin-bottom: 15px;
      text-align: center;
      color: #181A22;
      font-family: $f-S-bold;
    }

    p{
      margin-bottom: 0;
      text-align: center;
      font-size: 16px;
      color: #6B799A;
      font-family: $f-main;
      /*font-family: $f-mono-rk;*/

      @media(max-width: 1200px){
        font-size: 16px;
      }
    }
  }
}

/*--- loss-chain ---*/

.loss-chain{
  padding-top: 165px;
  padding-bottom: 165px;
  position: relative;
  overflow: hidden;
  background-color: $accent;

  .pic-wrapper{
    position: absolute;
    z-index: 2;

    img{
      width: 100%;
      height: auto;
    }

    &.pic-top{
      top: 0;
      left: 50%;
      transform: translateX(-27%);
    }

    &.pic-bottom{
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
    }
  }

  .smm-bg-light{
    position: absolute;
    z-index: 0;

    img{
      width: 100%;
      height: auto;
    }

    &.bg-pic-1{
      width: 499px;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }

    &.bg-pic-2{
      width: 574px;
      top: -280px;
      left: 17.7vw;
    }

    &.bg-pic-3{
      width: 533px;
      top: -290px;
      right: -215px;
    }

    &.bg-pic-4{
      width: 756px;
      left: -320px;
      bottom: -450px;
    }

    &.bg-pic-5{
      width: 598px;
      bottom: -375px;
      right: 12.7vw;
    }
  }

  .content{
    text-align: center;
    position: relative;
    color: #ffffff;
    z-index: 3;
  }

  .small-block-title{
    color: #ffffff;
    margin-bottom: 5px;
    position: relative;
    z-index: 3;
    font-size: 32px;

    @media(max-width: 1200px){
      font-size: 28px;
    }

    @media(max-width: 575px){
      margin-bottom: 30px;
    }

    @media(max-width: 440px){
      font-size: 24px;
    }

    span{
      @media(max-width: 575px){
        display: block;
        position: relative;
      }

      svg{
        @media(max-width: 575px){
          transform: rotate(90deg);
          width: 20px;
          height: auto;
          display: block;
          margin: 0 auto;
        }
      }

      &:last-child{
        svg{
          display: none;
        }
      }
    }
  }

  p{
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 15px;
    position: relative;
    z-index: 3;

    /*@media(max-width: 440px){
      font-size: 16px;
    }*/

  }

  .button{
    background-color: #ffffff;
    padding-right: 66.5px;
    padding-left: 66.5px;
    color: $accent;
    display: inline-block;
    position: relative;
    z-index: 3;
    transition: all 0.5s;

    @media(max-width: 575px){
      padding-left: 30px;
      padding-right: 30px;
    }

    &:hover{
      box-shadow: 0px 4px 30px rgba(255, 255, 255, 0.5);

      svg{
        right: 25px;
      }
    }
  }

  .cirkle-wrapper{
    position: absolute;
    border-radius: 50%;
    width: 581px;
    height: 581px;
    border: 1px solid rgba(255,255,255,0.1);
    z-index: 1;
    left: 50%;
    top: -180px;
    transform: translateX(-50%);

    &:before,
    &:after{
      content: '';
      position: absolute;
      border-radius: 50%;
      border: 1px solid #ffffff;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }

    &:before{
      width: 485px;
      height: 484px;
      opacity: 0.3;
    }

    &:after{
      width: 390px;
      height: 390px;
      opacity: 0.5;
    }
  }
}

/*--- smm-services ---*/

.smm-services{
  background-color: #ffffff;
  padding-top: 90px;
  padding-bottom: 140px;

  .block-title{
    text-align: center;
    color: #181A22;
    margin-bottom: 60px;
  }

  .step{
    margin-bottom: 35px;
    display: flex;

    @media(max-width: 992px){
      flex-wrap: wrap;
    }

    .text-content{
      width: 50%;

      @media(max-width: 992px){
        width: 100%;
      }

      @media(max-width: 440px){
        margin-bottom: 30px;
      }

      h2{
        color: #E4E4F6;
        font-size: 96px;
        line-height: 1.5;
        font-family: $f-bold;
        margin-bottom: -65px;
        text-align: right;

        @media(max-width: 575px){
          font-size: 76px;
          margin-bottom: -57px;
        }

        @media(max-width: 440px){
          font-size: 66px;
          margin-bottom: -52px;
        }
      }

      h3{
        font-family: $f-bold;
        font-size: 24px;
        color: #181A22;
        margin-bottom: 20px;
        line-height: 1.5;
      }

      ul{
        padding: 0;
        margin: 0;

        li{
          list-style: none;
          font-size: 18px;
          line-height: 1.52;
          color: #6B799A;
          margin-bottom: 15px;
          padding-left: 65px;
          background-image: url(../img/list-stule.svg);
          background-repeat: no-repeat;
          background-position: top left;
          width: 455px;

          @media(max-width: 575px){
            width: 100%;
            font-size: 16px;
          }

          &:last-child{
            margin-bottom: 0;
          }
        }
      }
    }

    .pic-wrapper{
      width: 50%;
      position: relative;

      @media(max-width: 992px){
        width: 100%;
      }

      &:before{
        content: '';
        width: 350px;
        height: 350px;
        background: #F7F7FF;
        border-radius: 8px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        z-index: 1;

        @media(max-width: 1200px){
          width: 300px;
          height: 300px;
        }

        @media(max-width: 767px){
          width: 250px;
          height: 250px;
        }
      }

      .pic{
        width: 100%;
        /*margin-left: -30.5px;

        @media(max-width: 1200px){
          width: 500px;
        }

        @media(max-width: 992px){
          width: 100%;
          margin-left: 50px;
        }

        @media(max-width: 767px){
          margin-left: 0;
        }*/

        img{
          width: 100%;
          height: auto;
          position: relative;
          z-index: 2;
        }
      }
    }

    &:nth-child(even){
      .text-content{
        order: 2;

        @media(max-width: 992px){
          order: 1;
        }
      }

      .pic-wrapper{
        order: 1;

        @media(max-width: 992px){
          order: 2;
        }

        .pic{
          margin-left: -60px;

          @media(max-width: 1200px){
            margin-top: 80px;
          }

          @media(max-width: 992px){
            margin-top: 0;
            margin-left: 20px;
          }

          @media(max-width: 767px){
            margin-left: 0;
          }
        }
      }
    }

    &:last-child{
      margin-bottom: 0;

      .text-content{

        h2{
          line-height: 1;
          font-size: 46px;
          margin-bottom: -35px;

          @media(max-width: 992px){
            font-size: 52px;
          }

          @media(max-width: 575px){
            font-size: 42px;
            margin-bottom: -33px;
          }

          @media(max-width: 440px){
            font-size: 32px;
            margin-bottom: -31px;
          }
        }
      }

      .pic-wrapper{
        .pic{
         /* width: 354px;*/
          /*margin: -50px auto 0;*/

         /* @media(max-width: 1200px){
            width: 300px;
            margin-top: -30px;
          }

          @media(max-width: 992px){
            width: 100%;
            margin-top: 0;
            margin-left: 170px;
          }

          @media(max-width: 767px){
            margin-left: 40px;
          }*/
        }
      }
    }

    &:nth-child(1){
      .pic-wrapper{
        &:before{
          background: linear-gradient(135deg, #034C39 0%, #01946D 100%);
        }
      }
    }

    &:nth-child(2){
      .pic-wrapper{
        &:before{
          background: linear-gradient(135deg, #FFDA74 0%, #FFB253 100%);
        }
      }
    }

    &:nth-child(3){
      .pic-wrapper{
        &:before{
          background: #605DEA;
        }
      }
    }
  }
}

/*--- call-block ---*/

.call-block{
  padding-top: 90px;
  position: relative;
  padding-bottom: 80px;
  overflow: hidden;
  background-image: url("../img/crt-snow.gif");
  background-repeat: repeat;

  @media(max-width: 440px){
    padding-top: 70px;
    padding-bottom: 60px;
  }

  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: linear-gradient(93.88deg, #8794FC 0%, #9CDCFC 31.99%, #DFC6FF 66.15%, #F4E0FC 100%);
    opacity: 0.96;
  }

  .container{
    position: relative;
    z-index: 5;
  }


  .content{
    position: relative;
    color: #ffffff;
    z-index: 3;

    .small-block-title{
      margin-bottom: 15px;
      /*max-width: 625px;*/
      max-width: 770px;
      color: $accent;
      position: relative;
      z-index: 2;

      @media(max-width: 1200px){
        max-width: 660px;
      }
    }

    p{
      font-size: 24px;
      font-family: $f-med;
      max-width: 475px;
      margin-bottom: 30px;
      position: relative;
      color: #181A22;
      z-index: 2;

      @media(max-width: 575px){
        font-size: 4vw;
      }
    }

    .button{
      background-color: $accent;
      color: #ffffff;
      padding-left: 30px;
      padding-right: 30px;
      position: relative;
      z-index: 2;
      transition: all 0.5s;
      display: inline-block;

      &:hover{
        color: #ffffff;
        box-shadow: 0px 4px 20px rgba(100, 96, 255, 0.5);
      }
    }

    .pic-wrapper{
      position: absolute;
      width: 581px;
      height: 581px;
      border-radius: 50%;
      border: 1px solid rgba(240,240,244,0.2);
      top: 50%;
      transform: translateY(-50%);
      right: -120px;
      z-index: 1;

      @media(max-width: 992px){
        right: 50%;
        transform: translateY(-50%) translateX(50%);
        border: 1px solid rgba(240,240,244,0.15);
      }

      @media(max-width: 575px){
        right: 40%;
      }

      @media(max-width: 440px){
        right: 20%;
      }


      &:before{
        content: '';
        position: absolute;
        width: 485px;
        height: 485px;
        border-radius: 50%;
        border: 1px solid rgba(240,240,244,0.2);
        top: 48px;
        left: 48px;

        @media(max-width: 992px){
          border: 1px solid rgba(240,240,244,0.15);
        }

      }

      &:after{
        content: '';
        position: absolute;
        width: 390px;
        height: 390px;
        border-radius: 50%;
        border: 1px solid rgba(240,240,244,0.2);
        top: 94.5px;
        left: 94.5px;

        @media(max-width: 992px){
          border: 1px solid rgba(240,240,244,0.15);
        }

      }

      img{
        width: 626px;
        height: auto;
        margin-top: 63px;
        margin-left: 8px;
        max-width: 626px;

        @media(max-width: 992px){
          opacity: 0.2;
        }

      }

      /*&.ua{
        img{
          margin-top: 88px;
        }
      }*/
    }
  }
}

/*--- effective-result --*/

.effective-result{
  background-color: #FAFAFC;
  padding-top: 90px;
  padding-bottom: 90px;

  .block-title{
    color: #181A22;
    margin-bottom: 60px;

    @media(max-width: 767px){
      text-align: center;
    }
  }

  .content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .item{
      display: flex;
      align-items: center;
      width: 523px;
      margin-bottom: 30px;

      @media(max-width: 1200px){
        width: 430px;
      }

      @media(max-width: 992px){
        width: 575px;
      }

      @media(max-width: 767px){
        width: 100%;
      }

      .pic-wrapper{
        width: 96px;
        position: relative;
        z-index: 2;
        margin-right: -45px;

        @media(max-width: 1200px){
          width: 86px;
          margin-right: -35px;
        }

        @media(max-width: 767px){
          width: 76px;
        }

        @media(max-width: 530px){
          width: 66px;
        }

        img{
          width: 100%;
          height: auto;
        }
      }

      .text-wrapper{
        background: #FFFFFF;
        border: 1px solid #F0F0F4;
        box-shadow: 0px 4px 15px rgba(174, 172, 236, 0.25);
        border-radius: 10px;
        padding-left: 45px;
        display: flex;
        align-items: center;
        height: 110px;
        width: 475px;
        justify-content: space-around;

        @media(max-width: 1200px){
          width: 365px;
          height: 100px;
          padding-left: 35px;
        }

        @media(max-width: 992px){
          width: 525px;
        }

        @media(max-width: 767px){
          width: calc(100% - 50px);
          height: 90px;
        }

        @media(max-width: 530px){
          height: auto;
          padding-right: 15px;
          text-align: left;
          padding-top: 30px;
          padding-bottom: 30px;
          align-items: flex-start;
          justify-content: flex-start;
          padding-left: 65px;
        }

        @media(max-width: 380px){
          padding-left: 45px;
          width: calc(100% - 30px);
        }

        p{
          font-size: 24px;
          font-family: $f-bold;
          color: #000000;
          line-height: 1.5;
          text-align: center;
          margin-bottom: 0;

          @media(max-width: 1200px){
            font-size: 20px;
          }

          @media(max-width: 767px){
            font-size: 18px;
          }

          @media(max-width: 530px){
            font-size: 16px;
            text-align: left;
          }
        }
      }

      &:last-child{
        width: 712px;
        margin-bottom: 0;

        @media(max-width: 992px){
          width: 575px;
        }

        @media(max-width: 575px){
          width: 100%;
        }

        .text-wrapper{
          width: 665px;

          @media(max-width: 992px){
            width: 525px;
          }

          @media(max-width: 767px){
            width: calc(100% - 50px);
          }

          @media(max-width: 575px){
            width: calc(100% - 30px);
          }

          p{
            padding: 0 10px;
          }
        }
      }
    }
  }
}