.before-footer {
  padding-top: 53px;
  padding-bottom: 5px;

  .content{
    display: flex;
    justify-content: space-around;

    @media(max-device-width: 991px) {
      width: 280px;
      flex-wrap: wrap;
      margin: 0 auto;
    }

    .address{
      width: 285px;
      margin-top: 16px;

      @media(max-width: 780px){
        margin-top: 200px;
      }

      p{
        padding-left: 40px;
        line-height: 24px;
        margin-bottom: 30px;
        background-image: url("../img/map-marker.svg");
        background-position: left top;
        background-repeat: no-repeat;
        position: relative;

        span{
          position: absolute;
          color: #ffffff;
          background-color: #4ca6ff;
          width: 13px;
          height: 13px;
          border-radius: 50%;
          text-align: center;
          left: 13px;
          top: -7px;
          line-height: 10px;
          font-size: 10px;
          padding-top: 2px;
          padding-left: 1px;
        }
      }
    }

    .phon-footer{
      letter-spacing: 1px;
      margin-top: 8px;
      line-height: 34px;
      text-decoration: none;
      position: relative;
      width: 210px;

      @media(max-width: 780px){
        margin-top: -350px;
        width: auto;
      }

      img{
        display: block;
        float: left;
        margin-right: 12px;
        margin-top: 10px;
      }

      .phon{
        position: absolute;
        left: -7px;
        top: -8px;
      }

      li{
        height: 23px;
        margin-bottom: 6px;
        list-style: none;
      }

      a{
        text-decoration: none;
        font-size: 16px;
        letter-spacing: 1px;
        color: #22578c;
      }

      .schedule{
        font-size: 14px;
        color: #3d3d3d;
        padding-left: 30px;
        line-height: 20px;
        padding-top: 7px;
      }
    }
  }
}

footer {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 14px;
  background-color: #ffffff;
  border-top: 1px solid rgba(0,0,0,0.1);
  color: rgba(67, 67, 67, 0.7);

  a:hover{
    color: rgba(67, 67, 67, 0.7);
  }
}