.main-header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  z-index: 10;

  .logo{
    width: 226px;
    float: left;
  }

  .contacts {
    position: relative;
    float: right;

    .phon{
      float: right;
      font-size: 20px;
      letter-spacing: 1px;
      height: 45px;
      color: #ffffff;
      margin-top: 8px;
      line-height: 45px;
      text-decoration: none;
      position: relative;
      cursor: pointer;

      @media(max-width: 1220px){
        margin-right: 30px;
      }

      @media(max-width: 455px){
        padding-left: 0;
      }

      @media(max-width: 345px){
        margin-right: 0;
      }

      img{
        display: block;
        float: left;
        margin-right: 12px;
        margin-top: 10px;
      }

      span{
        @media(max-width: 720px){
          display: none;
        }
      }

      p{
        float: right;
        white-space: nowrap;

      }

      .open-phone-list{
        position: absolute;
        top: 7px;
        right: -30px;

        @media(max-width: 345px){
          right: -10px;
        }
      }
    }

    .phone-list{
      border-radius: 8px;
      background-color: #ffffff;
      box-shadow: 0 2px 27px 0 rgba(0, 0, 0, 0.02);
      width: 294px;
      padding-top: 12px;
      padding-left: 19px;
      padding-bottom: 10px;
      padding-right: 22px;
      position: absolute;
      top: 0;
      right: -30px;
      z-index: 100;
      display: none;

      @media(max-width: 1220px){
        right: 10px;
      }

      @media(max-width: 400px){
        right: 0;
      }

      ul{
        width: 240px;

        li{
          list-style: none;
        }

        img{
          margin-right: 11px;
        }

        .schedule{
          font-size: 14px;
          color: #3d3d3d;
          line-height: 20px;
          padding-top: 7px;
        }
      }

      .phon{
        position: absolute;
        top: -6px;

        @media(max-width: 455px){
          left: 15px;

        }
      }

      .close{
        position: absolute;
        top: 7px;
        right: 20px;
      }

      li{
        margin-bottom: 3px;
      }

      a{
        text-decoration: none;
        font-size: 20px;
        letter-spacing: 1px;
        color: #22578c;
      }
    }
  }
}