@charset "UTF-8";
@font-face {
  font-family: 'Circle';
  src: url("../fonts/Circe-Thin.otf");
  src: local("☺"), url("../fonts/Circe-Thin.otf");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: 'Circle';
  src: url("../fonts/Circe-Light.otf");
  src: local("☺"), url("../fonts/Circe-Light.otf");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Circle';
  src: url("../fonts/Circe.otf");
  src: local("☺"), url("../fonts/Circe.otf");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Circle';
  src: url("../fonts/Circe-Bold.otf");
  src: local("☺"), url("../fonts/Circe-Bold.otf");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'Circle';
  src: url("../fonts/Circe-ExtraBold.otf");
  src: local("☺"), url("../fonts/Circe-ExtraBold.otf");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: 'Flow';
  src: url("../fonts/FlowRegular.ttf");
  src: local("☺"), url("../fonts/FlowRegular.ttf");
  font-weight: 400;
  font-style: normal; }
body {
  font-family: 'Circle';
  font-size: 16px;
  font-weight: 400;
  line-height: 1.63;
  color: #434343; }

a {
  color: #434343; }
  a:hover, a:focus, a:active {
    text-decoration: none;
    color: #006af7; }

img {
  max-width: 100%;
  height: auto; }

.v-center {
  display: inline-block;
  vertical-align: middle;
  float: none; }

.page-title {
  margin-top: 28px;
  margin-bottom: 20px;
  font-size: 55px;
  font-weight: 700;
  line-height: 1.09;
  color: #8cec9d; }

.section-title {
  margin-top: 75px;
  margin-bottom: 45px;
  font-size: 36px;
  line-height: 1.45;
  color: #8cec9d; }

::-webkit-input-placeholder {
  color: #000; }

::-moz-placeholder {
  color: #000; }

:-moz-placeholder {
  color: #000; }

:-ms-input-placeholder {
  color: #000; }

.loader {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 999; }

.form-control {
  min-height: 46px;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  background-color: #f0f0f0; }
  .form-control:hover, .form-control:focus, .form-control:active {
    box-shadow: none; }

.has-success .form-control {
  box-shadow: none !important;
  border-color: transparent !important;
  color: #006af7 !important; }
.has-success .input:after {
  content: "\f058";
  color: #006af7; }

.has-danger .form-control {
  box-shadow: none !important;
  border-color: transparent !important;
  color: #ff0000 !important; }
.has-danger .input:after {
  content: "\f06a";
  color: #ff0000; }

.has-feedback .input {
  position: relative; }
  .has-feedback .input:after {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 15px;
    height: auto;
    font-family: 'FontAwesome'; }

.btn {
  border-radius: 0px;
  font-size: 18px;
  line-height: 1.44; }

.btn-primary {
  border-color: #006af7;
  background-color: #006af7;
  color: #ffffff; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    border-color: #0054c4 !important;
    background-color: #0054c4 !important;
    color: #ffffff !important; }

.btn-success {
  border-color: #8cec9d;
  background-color: #8cec9d;
  color: #434343; }
  .btn-success:hover, .btn-success:focus, .btn-success:active {
    border-color: #60e578 !important;
    background-color: #60e578 !important;
    color: #434343 !important; }

.modal-content {
  border-radius: 0px; }

.modal-body {
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 40px; }
  .modal-body h4 {
    font-weight: 700; }

.modal-title {
  margin-top: 25px;
  font-size: 24px; }

.main-header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  z-index: 10; }
  .main-header .contacts a {
    font-size: 20px;
    font-weight: 300;
    color: #ffffff; }
  .main-header .contacts span {
    margin-left: 14px;
    font-size: 12px;
    line-height: 1.2;
    color: rgba(255, 255, 255, 0.4); }

.before-footer {
  padding-top: 53px;
  padding-bottom: 47px; }
  .before-footer .phone {
    margin-right: 35px; }
    .before-footer .phone a {
      font-size: 20px;
      font-weight: 300; }
    .before-footer .phone span {
      margin-left: 14px;
      font-size: 12px;
      line-height: 1.2;
      color: rgba(0, 0, 0, 0.4); }
  .before-footer .email a {
    font-size: 20px;
    font-weight: 300;
    color: #8cec9d; }

footer {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 14px;
  background-color: #f5f5f5;
  color: rgba(67, 67, 67, 0.7) !important; }

.top-section {
  padding-top: 105px;
  position: relative;
  height: 608px;
  background: url("../img/top-section/bg.jpg") top center no-repeat;
  background-size: cover;
  color: #ffffff; }
  .top-section .overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #006af7;
    opacity: 0.8;
    z-index: 1; }
  .top-section .bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden; }
    .top-section .bg-video video {
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto; }
  .top-section .outer {
    position: relative;
    float: left;
    width: 58.33333333%;
    z-index: 5; }
  .top-section .message {
    position: absolute;
    left: 50%;
    bottom: 85px;
    margin-left: -132.5px;
    z-index: 5; }
  .top-section .date {
    margin-top: 35px;
    font-size: 14px;
    letter-spacing: 1.4px; }
  .top-section .after-title {
    font-weight: 700; }
  .top-section .fb {
    vertical-align: baseline; }
  .top-section .in {
    vertical-align: bottom; }
  .top-section .share {
    margin-top: 28px;
    font-size: 14px; }
  .top-section .subscribe-form {
    position: relative;
    padding: 46px 40px 38px;
    width: 400px;
    background-color: #ffffff;
    color: #434343;
    z-index: 5; }
    .top-section .subscribe-form .title {
      margin-top: 0px;
      margin-bottom: 29px;
      font-size: 22px;
      font-weight: 700; }
      .top-section .subscribe-form .title small {
        font-size: 18px;
        font-weight: 700; }
    .top-section .subscribe-form .label {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 16px;
      width: 96px;
      font-size: 16px;
      text-align: left;
      border-radius: 0px;
      background-color: #f0f0f0;
      color: rgba(33, 33, 33, 0.9); }
      .top-section .subscribe-form .label label {
        margin-bottom: 0px; }
    .top-section .subscribe-form .input {
      margin-left: -2px;
      width: 222px; }
    .top-section .subscribe-form button[type=submit] {
      width: 100%;
      height: 60px; }
    .top-section .subscribe-form .count {
      margin-top: 11px; }
      .top-section .subscribe-form .count .number {
        display: inline-block;
        margin-left: 9px;
        width: 30px;
        height: 30px;
        line-height: 32px;
        border-radius: 50%;
        background-color: #ff0000;
        color: #ffffff; }
  .top-section .arrow {
    position: absolute;
    left: 0px;
    bottom: -30px;
    width: 100%;
    z-index: 5; }

.you-know-section {
  position: relative;
  padding-bottom: 20px; }
  .you-know-section .description {
    position: relative;
    margin-bottom: 37px;
    padding-left: 0px;
    list-style: none; }
    .you-know-section .description li {
      margin-bottom: 30px;
      padding-left: 30px; }
      .you-know-section .description li img {
        position: relative;
        max-width: 25px;
        margin-left: -26px; }
      .you-know-section .description li span {
        margin-left: 15px; }
  .you-know-section .like-outer {
    position: absolute;
    left: 0px;
    bottom: 35px;
    width: 100%;
    font-family: 'Flow'; }
    .you-know-section .like-outer img {
      margin-left: 15px; }

.who-useful-section {
  position: relative;
  padding-bottom: 146px;
  background-color: #006af7;
  color: #ffffff; }
  .who-useful-section .arrow {
    position: absolute;
    top: -20px;
    left: 0px;
    width: 100%; }
  .who-useful-section .line {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: url("../img/who-useful-section/line.png") bottom center no-repeat;
    background-size: cover; }
  .who-useful-section .section-title {
    margin-bottom: 98px; }
  .who-useful-section .item .title {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.08; }
  .who-useful-section .item .description {
    color: #8fbfff; }

.programs-section {
  position: relative;
  margin-top: -40px;
  padding-bottom: 47px;
  z-index: 5; }
  .programs-section .section-title {
    margin-top: 35px;
    margin-bottom: 95px;
    font-weight: 700;
    color: #ffffff; }
  .programs-section .outer {
    box-shadow: 0 0 43.2px 10.8px rgba(0, 0, 0, 0.06); }
  .programs-section .item {
    padding-left: 100px;
    padding-right: 100px;
    background-color: #ffffff; }
    .programs-section .item.bg {
      padding-top: 85px;
      padding-bottom: 100px;
      background-color: #8cec9d; }
    .programs-section .item .btn-subscribe {
      padding: 0px;
      width: 320px;
      height: 60px;
      line-height: 56px; }
  .programs-section .description {
    padding-top: 30px; }
    .programs-section .description ol {
      padding-left: 0px; }
      .programs-section .description ol li {
        margin-bottom: 15px; }

.speaker-section {
  position: relative;
  padding-top: 20px;
  padding-bottom: 50px;
  background-color: #006af7;
  color: #ffffff; }
  .speaker-section .section-title {
    margin-top: 50px;
    margin-bottom: 30px; }
  .speaker-section .thumb {
    position: absolute;
    bottom: 0px; }
  .speaker-section .description .name {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.08; }
  .speaker-section .description .social {
    display: inline-block;
    margin-left: 8px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-align: center;
    line-height: 34px;
    background-color: rgba(255, 255, 255, 0.3);
    color: #3c5d96; }
    .speaker-section .description .social:first-of-type {
      margin-left: 16px; }
  .speaker-section .description ul {
    margin-top: 18px;
    padding-left: 0px;
    list-style: none; }
    .speaker-section .description ul li {
      margin-bottom: 10px;
      line-height: 1.5;
      color: #8fbfff; }
  .speaker-section a {
    color: #ffffff; }
    .speaker-section a:hover, .speaker-section a:focus, .speaker-section a:active {
      color: #ffffff; }

.why-section {
  position: relative;
  padding-bottom: 60px; }
  .why-section .figure {
    position: absolute; }
    .why-section .figure.t-l {
      top: 153px;
      left: 20%; }
    .why-section .figure.t-c {
      top: 205px;
      left: 50%; }
    .why-section .figure.b-r {
      bottom: 56px;
      right: 20%; }
  .why-section .item {
    margin-bottom: 45px; }
  .why-section .arrow {
    position: absolute;
    left: 0px;
    bottom: -30px;
    width: 100%;
    z-index: 10; }

/*
====== Large Devices, Wide Screens: ======
*/
@media only screen and (max-width: 1200px) {
  .top-section .date {
    margin-top: 0px; }
  .top-section .subscribe-form {
    width: 390px; }
    .top-section .subscribe-form .input {
      margin-left: -2px;
      width: 212px; }
  .top-section .message {
    display: none; }

  .you-know-section .like-outer {
    display: none; }

  .programs-section .item {
    padding-left: 60px;
    padding-right: 60px; }
    .programs-section .item.bg {
      padding-top: 90px; } }
/*
====== Medium Devices, Desktops: ======
*/
@media only screen and (max-width: 992px) {
  .top-section {
    padding-bottom: 60px;
    height: auto; }
    .top-section .outer {
      width: 100%; }
    .top-section .subscribe-form {
      margin-top: 30px;
      float: left !important; }

  .page-title {
    margin-bottom: 25px; }

  .who-useful-section {
    padding-bottom: 100px; }
    .who-useful-section .section-title {
      margin-bottom: 45px; }
    .who-useful-section .item {
      margin-bottom: 30px; }

  .you-know-section {
    padding-bottom: 80px; }

  .programs-section .section-title {
    margin-bottom: 45px; }
  .programs-section .item {
    padding-top: 30px !important;
    padding-bottom: 30px !important; }

  .speaker-section {
    padding-bottom: 400px; } }
/*
====== Small Devices, Tablets: ======
*/
@media only screen and (max-width: 640px) {
  .main-header .contacts, .main-header .logo {
    float: none !important; }
  .main-header .contacts {
    margin-top: 15px; }

  .top-section {
    padding-top: 140px; }

  .page-title {
    font-size: 44px; }

  .speaker-section {
    padding-bottom: 350px; }

  .why-section .figure {
    display: none; } }
/*
====== Extra Small Devices, Phones: ======
*/
@media only screen and (max-width: 480px) {
  .page-title {
    font-size: 28px;
    line-height: 1.3; }
    .page-title img {
      width: 100px; }

  .top-section .subscribe-form {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px; }
    .top-section .subscribe-form .label {
      display: none; }
    .top-section .subscribe-form .input {
      width: 100%; }

  .section-title {
    font-size: 28px;
    margin-bottom: 35px; }

  .fb_iframe_widget {
    display: none !important; }

  .programs-section .item {
    padding-left: 30px;
    padding-right: 30px; }
    .programs-section .item .btn-subscribe {
      width: 100%; }

  .speaker-section {
    padding-bottom: 230px; }
    .speaker-section .description .name {
      font-size: 20px; }

  .before-footer .phone {
    margin-right: 0px; }

  footer .privacy, footer .copyright {
    float: none !important; }
  footer .copyright {
    margin-top: 15px; } }
/*
====== Custom, iPhone Retina: ======
*/

/*# sourceMappingURL=style.css.map */
