body {
  font-family: 'Circe';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  color: $fontColor;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $fontColor;

  &:hover, &:focus, &:active {
    text-decoration: none;
    color: $fontColor;
  }
}

.v-center {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.delimiter {
  display: inline-block;
  margin-left: 30px;
  margin-right: 30px;
  height: 32px;
  border-left: 1px solid rgba(000, 000, 000, 0.1);
}

::selection {
  background: $mainColor;
  color: #fff;
}

::-webkit-selection {
  background: $mainColor;
  color: #fff;
  -webkit-text-fill-color: #fff;
  -webkit-background-clip: none;
}

::-moz-selection {
  background: $mainColor;
  color: #fff;
}