.btn {
  font-size: 15px;
  font-weight: 700;
  border-radius: 36.5px;
  letter-spacing: 1.5px;
}

.btn-default {
  border-color: #f8f8f8;
  box-shadow: 2.9px 41.9px 56.9px 16.1px rgba(0, 0, 0, 0.23);
  background-color: #f8f8f8;
  color: #d9686e;
  transition: all 0.5s;

  &:hover, &:focus, &:active {
    border-color: #f8f8f8 !important;
    background-color: #f8f8f8 !important;
    box-shadow: none;
    color: #d9686e !important;
  }
}

.btn-primary {
  border: none;
  background-image: linear-gradient(to right, #ee2a7b, #002aff);
  color: #ffffff;
  transition: all 0.5s;

  &:hover, &:focus, &:active {
    border: none !important;
    background-image: linear-gradient(to right, #ee2a7b, #002aff) !important;
    color: #ffffff !important;
  }
}