/*
====== Large Devices, Wide Screens: ======
*/
@media only screen and (max-width : 1200px) {
  .top-section {
    padding-top: 110px;
    height: 740px;

    .page-title {
      font-size: 46px;
    }

    .likely {
      margin-top: 35px;
    }

    &.last {
      height: 680px;
    }
  }

  .questions-section {
    .questions {
      img {
        margin-left: 5px;
        margin-right: 5px;
      }
    }
  }

  .causes-section {
    .item {
      .icon {
        margin-bottom: 96px;
      }
    }
  }

  .program-section {
    .tab-pane {
      padding-left: 50px;
      padding-right: 50px;
    }
  }

  .buy-section {
    .outer {
      .item {
        &:first-of-type {
          padding-left: 25px;
          padding-right: 25px;
        }

        &:last-of-type {
          padding-top: 55px;

          .before-title {
            margin-top: 30px;
          }

          .page-title {
            font-size: 28px;

            img {
              width: 130px;
            }
          }
        }
      }
    }

    .subscribe-form {
      .input {
        width: 241px;
      }
    }
  }
}

/*
====== Medium Devices, Desktops: ======
*/
@media only screen and (max-width : 992px) {
  .top-section {
    height: auto;
    padding-bottom: 60px;

    .buy {
      margin-top: -30px;
      position: inherit;
    }

    &.last {
      height: auto;
    }
  }

  .questions-section {
    .questions {
      img {
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-bottom: 15px;
      }
    }

    .company {
      margin-top: 0px;
    }

    .prices {
      margin-top: 0px;
    }
  }

  .causes-section {
    .section-title {
      font-size: 34px;
    }

    .item {
      padding-left: 15px;
      padding-right: 15px;

      .icon {
        margin-bottom: 20px;
      }
    }
  }

  .guaranty-section {
    .icon {
      margin-right: 0px;
    }

    .description {
      margin-top: 30px;
      text-align: center;
    }
  }

  .buy-section {
    .subscribe-form {
      .input {
        width: 212px;
      }
    }
  }
}

/*
====== Small Devices, Tablets: ======
*/
@media only screen and (max-width : 768px) {
  .top-section {
    .sticky {
      small {
        font-size: 12px;
      }
    }
  }

  .program-section {
    .nav-tabs {
      li {
        font-size: 18px;
      }
    }
  }

  .buy-section {
    .outer {
      .item {
        width: 100%;
        height: auto;
        padding-bottom: 45px;

        &:first-of-type {
          border-top-right-radius: 15px;
        }

        &:last-of-type {
          border-top-right-radius: 0px;
        }
      }
    }

    .triangle-right {
      display: none;
    }

    .subscribe-form {
      .label {
        width: 20%;
      }

      .input {
        width: 79%;
      }
    }
  }

  .custom-modal {
    padding-left: 15px;
    padding-right: 15px;

    .inner {
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

@media only screen and (max-width : 640px) {
  .main-header {
    .logo, .phone {
      float: none !important;
      display: block;
    }

    .phone {
      margin-top: 15px;
    }
  }

  .delimiter {
    margin-left: 15px;
    margin-right: 15px;
  }

  .top-section {
    padding-top: 150px;

    .sticky {
      background-color: transparent;
      color: #ffffff;
    }
  }

  .questions-section {
    .prices {
      .number {
        font-size: 36px;
      }
    }

    .after-prices {
      font-size: 28px;
    }
  }

  .program-section {
    .nav-tabs {
      li {
        font-size: 14px;
      }
    }

    .tab-pane {
      .description {
        .v-center {
          img {
            margin-right: 10px;
          }
        }
      }
    }
  }

  .causes-section {
    .item {
      .icon {
        margin-bottom: 0px;
      }
    }
  }

  .buy-section {
    .subscribe-form {
      .label {
        padding-left: 10px;
      }
    }
  }
}

/*
====== Extra Small Devices, Phones: ======
*/
@media only screen and (max-width : 480px) {
  .top-section {
    .sticky {
      font-size: 18px;
    }

    .page-title {
      font-size: 26px;

      img {
        width: 140px;
      }
    }

    .buy {
      margin-top: 30px;

      .payments {
        img {
          margin-left: 5px;
          margin-right: 5px;
          width: 65px;
        }
      }

      .btn-default {
        width: 265px;
        height: 60px;
        line-height: 24px;
        white-space: pre-line;
      }
    }
  }

  .questions-section {
    padding-bottom: 80px;

    .prices {
      .number {
        font-size: 24px;

        small {
          font-size: 12px;
        }
      }
    }

    .after-prices {
      margin-bottom: 30px;
      font-size: 20px;
    }
  }

  .causes-section {
    padding-bottom: 30px;

    .section-title {
      font-size: 26px;
    }

    .item {
      margin-bottom: 30px;
    }
  }

  .program-section {
    padding-bottom: 80px;

    .tab-pane {
      padding: 15px 30px 40px;

      ol {
        li {
          font-size: 16px;
        }
      }
    }

    .delimiter {
      display: none;
    }

    .description {
      margin-top: 30px;

      .v-center {
        margin-bottom: 15px;
      }
    }
  }

  footer {
    .copyright, .privacy {
      float: none !important;
    }

    .copyright {
      margin-top: 15px;
    }
  }

  .buy-section {
    .outer {
      .item {
        &:last-of-type {
          padding-left: 25px;
          padding-right: 25px;
        }
      }
    }

    .subscribe-form {
      .label {
        display: none;
      }

      .input {
        width: 100%;
      }

      button[type=submit] {
        height: 50px;
      }
    }

    .payments {
      img {
        margin-left: 5px;
        margin-right: 5px;
        width: 55px;
      }
    }
  }

  .status-section {
    .outer {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

/*
====== Custom, iPhone Retina: ======
*/
@media only screen and (max-width : 320px) {

}