.modal-content {
  border-radius: 0px;
}

.modal-body {
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 40px;

  h4 {
    font-weight: 700;
  }
}

.modal-title {
  margin-top: 25px;
  font-size: 24px;
}