$mainColor: #d23588;
$fontColor: #434343;

@import "fonts";

@import "base";

@import "forms";
@import "buttons";
@import "modals";

@import "header";
@import "footer";

.top-section {
  position: relative;
  padding-top: 100px;
  height: 630px;
  background: url("../img/top-section/bg.jpg") top center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  color: #ffffff;

  .sticky {
    display: inline-block;
    padding-left: 13px;
    padding-right: 13px;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.3;
    background-color: #ffffff;
    color: $mainColor;

    small {
      font-size: 14px;
      font-weight: 400;
    }
  }

  .outer {
    margin-top: 20px;
  }

  .before-title {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.4px;
  }

  .page-title {
    margin-top: 20px;
    margin-bottom: 14px;
    font-size: 55px;
    font-weight: 700;
    line-height: 1.09;
  }

  .likely {
    margin-top: 50px;

    .title {
      margin-bottom: 12px;
      margin-left: 5px;
      display: block;
      font-size: 14px;
    }
  }

  .buy {
    position: absolute;
    left: 0px;
    bottom: 40px;
    width: 100%;

    .special {
      margin-bottom: 15px;
      font-size: 14px;

      .old-price {
        text-decoration: line-through;
      }
    }

    .btn-default {
      width: 390px;
      height: 70px;
      line-height: 60px;
    }

    .payments {
      margin-top: 20px;

      img {
        margin-left: 9px;
        margin-right: 9px;
      }
    }
  }

  .arrow {
    position: absolute;
    bottom: -35px;
    left: 0px;
    width: 100%;
  }

  &.last {
    padding-top: 85px;
    height: 550px;
  }
}

.questions-section {
  padding-top: 89px;
  padding-bottom: 120px;

  .questions {
    margin-bottom: 35px;

    img {
      margin-left: 20px;
      margin-right: 20px;
    }
  }

  .big-text {
    font-size: 18px;
  }

  .before-list {
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: 700;
  }

  .company {
    margin-top: -50px;
  }

  .prices {
    margin-top: -50px;

    .number {
      display: inline-block;
      font-size: 52px;
      font-weight: 300;

      small {
        font-size: 29px;
      }
    }
  }

  .after-prices {
    margin-bottom: 50px;
    font-size: 37px;
    font-weight: 300;
  }

  .upwork {
    margin-top: 30px;
  }
}

.causes-section {
  padding-bottom: 70px;

  .after-title {
    font-size: 15px;
    letter-spacing: 1.5px;
  }

  .section-title {
    margin-top: 25px;
    margin-bottom: 40px;
    font-size: 36px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #f9ed32, #ee2a7b 62%, #002aff), linear-gradient(#fff737, #fff737);
  }

  .item {
    margin-bottom: 70px;
    padding-left: 60px;
    padding-right: 60px;

    .icon {
      display: inline-block;
      float: left;
      margin-right: 27px;
      margin-bottom: 50px;
      width: 35px;
      height: 35px;
      text-align: center;
      line-height: 35px;
      border-radius: 50%;

      &.orange {
        background-color: #fa8851;
      }

      &.pink {
        background-color: #da4582;
      }

      &.purple {
        background-color: #7b45b7;
      }

      &.blue {
        background-color: #3245dc;
      }

      img {
        width: 16px;
      }
    }
  }
}

.program-section {
  padding-bottom: 145px;

  .outer {
    box-shadow: 2.9px 41.9px 56.9px 16.1px rgba(0, 0, 0, 0.1);
  }

  .nav-tabs {
    border: none;

    li {
      position: relative;
      width: 50%;
      padding-top: 13px;
      padding-bottom: 13px;
      text-align: center;
      font-size: 24px;
      transition: all 0.5s;

      &.active {
        box-shadow: -2.3px 7.7px 32.7px 5.3px rgba(0, 0, 1, 0.08);

        a {
          border: none;
        }

        &:after {
          background-image: linear-gradient(to right, #f9ed32, #ee2a7b 62%, #002aff), linear-gradient(#3245dc, #3245dc);
        }
      }

      a {
        border: none;

        &:hover {
          border: none;
          background-color: transparent;
        }
      }

      &:after {
        position: absolute;
        left: 0px;
        bottom: 0px;
        width: 100%;
        height: 3px;
        content: '';
        background-color: #f2f2f2;
      }
    }
  }

  .tab-pane {
    padding: 70px 80px 75px;

    ol {
      padding-left: 0px;

      li {
        margin-bottom: 5px;
        font-size: 18px;
      }
    }

    .description {
      margin-top: 50px;

      .v-center {
        img {
          float: left;
          margin-right: 27px;
          margin-bottom: 30px;
        }
      }
    }
  }
}

.guaranty-section {
  position: relative;
  padding-bottom: 95px;

  .icon {
    margin-right: 50px;
  }

  .title {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 20px;
    letter-spacing: 2px;
  }

  .arrow {
    position: absolute;
    bottom: -35px;
    left: 0px;
    width: 100%;
    z-index: 10;
  }
}

.buy-section {
  margin-top: -40px;
  margin-bottom: 86px;

  .outer {
    box-shadow: 2.9px 41.9px 56.9px 16.1px rgba(0, 0, 0, 0.1);

    .item {
      float: left;
      width: 50%;
      height: 488px;

      &:first-of-type {
        padding-left: 75px;
        padding-right: 75px;
        border-top-left-radius: 15px;
        background-color: #ffffff;
      }

      &:last-of-type {
        padding-top: 85px;
        padding-left: 50px;
        padding-right: 40px;
        border-top-right-radius: 15px;
        background: url("../img/buy-section/bg.jpg") center no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        color: #ffffff;

        .before-title {
          display: block;
          font-size: 12px;
          font-weight: 700;
          letter-spacing: 1.3px;
        }

        .page-title {
          margin-top: 15px;
          margin-bottom: 55px;
          font-size: 42px;
          font-weight: 700;

          img {
            width: 180px;
          }
        }

        .prices {
          font-weight: 300;

          span {
            margin-left: 8px;
            margin-right: 8px;
          }

          .old {
            font-size: 18px;
            text-decoration: line-through;

            sup {
              font-size: 12px;
            }
          }

          .current {
            font-size: 48px;

            sup {
              font-size: 34px;
            }
          }
        }
      }
    }
  }

  .form-title {
    margin-top: 45px;
    margin-bottom: 20px;
    font-size: 24px;

    small {
      font-size: 16px;
    }
  }

  .subscribe-form {
    .label {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 16px;
      width: 96px;
      font-size: 16px;
      text-align: left;
      border-radius: 0px;
      background-color: #f0f0f0;
      color: rgba(33, 33, 33, 0.9);

      label {
        margin-bottom: 0px;
        font-weight: 400;
      }
    }

    .input {
      margin-left: -2px;
      width: 223px;
    }

    button[type=submit] {
      width: 100%;
      height: 73px;
    }
  }

  .triangle-right {
    position: absolute;
    top: 0px;
    left: 50%;
    width: 0;
    height: 0;
    border-top: 244px solid transparent;
    border-left: 20px solid #ffffff;
    border-bottom: 244px solid transparent;
  }

  .payments {
    margin-top: 66px;

    img {
      margin-left: 9px;
      margin-right: 9px;
    }
  }
}

.status-section {
  margin-top: -40px;
  margin-bottom: 86px;

  .outer {
    padding-top: 97px;
    padding-bottom: 55px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 2.9px 41.9px 56.9px 16.1px rgba(0, 0, 0, 0.1);
  }

  .success {
    background: url("../img/status-section/bg.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    color: #ffffff;

    .title {
      margin-top: 26px;
      margin-bottom: 45px;
      font-size: 24px;
    }

    .after-title {
      font-size: 14px;
    }
  }

  .error {
    background-color: #ffffff;
  }
}

@import "media";