$mainColor: #e8f3fe;
$secondColor: #ffffff;
$fontColor: #434343;
$footerBg: #f5f5f5;

@import "fonts";

@import "base";

@import "forms";
@import "buttons";
@import "modals";

@import "header";
@import "footer";

.top-section {
  padding-top: 105px;
  position: relative;
  height: 608px;
  background: url("../img/top-section/bg.jpg") top center no-repeat;
  background-size: cover;
  color: #ffffff;
  
  .overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #007fff;
    opacity: 0.7;
    z-index: 1;
  }

  .bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;

    video {
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
    }
  }

  .outer {
    position: relative;
    float: left;
    width: 58.33333333%;
    z-index: 5;
  }

  .message {
    position: absolute;
    left: 50%;
    bottom: 55px;
    margin-left: -132.5px;
    z-index: 5;
  }

  .date {
    margin-top: 35px;
    font-size: 14px;
    letter-spacing: 1.4px;
  }

  .after-title {
    font-weight: 300;
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 73px;
  }

  .fb {
    vertical-align: baseline;
  }

  .in {
    vertical-align: bottom;
  }

  .share {
    margin-top: 28px;
    font-size: 14px;
  }

  .subscribe-form {
    position: relative;
    padding: 46px 40px 38px;
    width: 400px;
    background-color: #ffffff;
    color: $fontColor;
    box-shadow: 0 0 27px 0 rgba(0, 0, 0, 0.11);
    z-index: 5;

    .title {
      margin-top: 0px;
      margin-bottom: 29px;
      font-size: 22px;
      color: #22578c;
      line-height: 28px;
      font-weight: 700;

      small {
        font-size: 18px;
        font-weight: 300;
        color: #22578c;
      }
    }

    .form-group{
      height: 60px;
      width: 100%;
      position: relative;

      input {
        width: 100%;
        height: 100%;
        padding-left: 20px;
        color: rgba(33, 33, 33, 0.9);
        font-weight: 300;
      }

      .intl-tel-input{
        width: 100%;
        height: 100%;

        input{
          padding-left: 50px;
        }
      }

    }

    button[type=submit] {
      width: 100%;
      height: 70px;
      border-radius: 3px;
      background-color: #007fff;
      font-size: 18px;
      letter-spacing: 1.1px;
      color: #ffffff;
      border: none;

      &:hover{
        background-color: #00b7ec;
      }
    }

    .count {
      margin-top: 11px;

      .number {
        display: inline-block;
        margin-left: 9px;
        width: 30px;
        height: 30px;
        line-height: 32px;
        border-radius: 50%;
        background-color: #ff0000;
        color: #ffffff;
      }
    }
  }

  .arrow {
    position: absolute;
    left: 0px;
    bottom: -30px;
    width: 100%;
    z-index: 5;
  }
}

.you-know-section {
  position: relative;
  padding-bottom: 64px;

  p{
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.63;
    color: #555555;
    margin-top-top: 38px;

    img{
      margin-left: 10px;
    }
  }

  .description {
    position: relative;
    margin-bottom: 37px;
    padding-left: 0px;
    list-style: none;

    li {
      margin-bottom: 30px;
      background-image: url("../img/you-know-section/list-marker.svg");
      background-repeat: no-repeat;
      background-position: top left;
      padding-left: 43px;
      font-size: 20px;
      line-height: 1.5;
      text-align: left;
      color: #555555;
    }
  }

  .fb-like{
    margin-bottom: 38px;
  }

  .like-outer {
    position: absolute;
    left: 0px;
    bottom: 35px;
    width: 100%;
    font-family: 'Flow';

    img {
      margin-left: 15px;
    }
  }
}

.who-useful-section {
  position: relative;
  padding-bottom: 146px;
  background-color: $mainColor;
  color: #ffffff;

  .arrow {
    position: absolute;
    top: -20px;
    left: 0px;
    width: 100%;
  }

  .line {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: url("../img/who-useful-section/line.png") bottom center no-repeat;
    background-size: cover;
  }

  .section-title {
    margin-bottom: 98px;
  }

  .item {
    .title {
      margin-top: 0px;
      margin-bottom: 20px;
      font-size: 24px;
      font-weight: 700;
      line-height: 1.08;
      color: #22578c;
    }

    .description {
      color: #22578c;
      font-size: 20px;
      line-height: 1.5;
    }
  }
}

.programs-section {
  position: relative;
  margin-top: -40px;
  padding-bottom: 47px;
  z-index: 5;

  .section-title {
    margin-top: 35px;
    margin-bottom: 95px;
    font-weight: 700;
    color: #ffffff;
  }

  .outer {
    box-shadow: 0 0 43.2px 10.8px rgba(0, 0, 0, 0.06);
  }

  .item {
    padding-left: 100px;
    padding-right: 100px;
    background-color: #ffffff;

    &.bg {
      padding-top: 75px;
      padding-bottom: 100px;
      background-color: #006af7;
    }

    .btn-subscribe {
      padding: 0px;
      width: 320px;
      height: 60px;
      line-height: 56px;
      color: #006af7;
    }
  }

  .description {
    padding-top: 30px;

    ol {
      padding-left: 0px;

      li {
        margin-bottom: 15px;
        font-size: 18px;
        line-height: 1.67;
        color: #434343;
      }
    }
  }
}

.speaker-section {
  position: relative;
  padding-top: 20px;
  padding-bottom: 50px;
  background-color: $mainColor;
  color: #ffffff;

  @media(max-width: 1160px){
    padding-bottom: 20px;
  }

  .section-title {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 50.3px;
    font-weight: 300;
    line-height: 1.04;
  }

  .thumb {
    position: absolute;
    bottom: 0px;
    left: 70px;

    @media(max-width: 1320px){
      left: 0;
    }

    @media(max-width: 1160px){
      width: 450px;
    }

    @media(max-width: 991px){
      left: 50%;
      margin-left: -225px;
    }

    @media(max-width: 650px){
      width: 300px;
      margin-left: -150px;
    }
  }

  .description {
    .name {
      font-size: 30px;
      font-weight: 700;
      line-height: 1.08;
      color: #22578c;
    }

    .social {
      display: inline-block;
      margin-left: 8px;
      width: 32px;
      height: 32px;
      text-align: center;
      line-height: 34px;
      color: #3c5d96;
      background-image: url("../img/speaker-section/facebook.png");
      background-repeat: no-repeat;
      background-position: center;


      &:first-of-type {
        margin-left: 16px;
      }
    }

    ul {
      margin-top: 18px;
      padding-left: 0px;
      list-style: none;

      li {
        margin-bottom: 25px;
        font-size: 20px;
        line-height: 1.5;
        color: #22578c;

        @media(max-width: 1160px){
          margin-bottom: 15px;
        }
      }
    }
  }

  a {
    color: #22578c;

    &:hover, &:focus, &:active {
      color: #22578c;
    }
  }
}

.why-section {
  position: relative;
  padding-bottom: 60px;
  background-image: url("../img/59.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  .section-title{
    color: #ffffff;
    font-size: 36.2px;
    font-weight: 300;
    line-height: 1.44;
  }

  .figure {
    position: absolute;

    &.t-l {
      top: 153px;
      left: 20%;
    }

    &.t-c {
      top: 205px;
      left: 50%;
    }

    &.b-r {
      bottom: 56px;
      right: 20%;
    }
  }

  .item {
    margin-bottom: 45px;
    font-size: 20px;
    line-height: 1.5;
    color: #ffffff;
  }

  .arrow {
    position: absolute;
    left: 0px;
    bottom: -30px;
    width: 100%;
    z-index: 10;
  }
}

.thx{
  background-color: #e8f3fe;
  padding: 100px 0 150px;

  h1{
    color: #22578c;
    line-height: 1.5;
    font-weight: 700;
    margin-bottom: 50px;

    @media(max-width: 480px){
      margin-bottom: 0;
    }
  }

  .likely{
    width: 380px;
    margin: 0 auto;
    display: block;

    @media(max-width: 400px){
      width: 100%;
    }
  }

  p{
    text-align: center;
    color: #22578c;
  }

  .mcwidget-embed{
    margin-bottom: 30px;
  }

}

@import "media";