@font-face {
  font-family: 'Circe';
  src: url("../fonts/Circe-Thin.otf");
  font-weight: 200;
  font-style: normal; }
@font-face {
  font-family: 'Circe';
  src: url("../fonts/Circe-Light.otf");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Circe';
  src: url("../fonts/Circe-Regular.otf");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Circe';
  src: url("../fonts/Circe-Bold.otf");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'Circe';
  src: url("../fonts/Circe-ExtraBold.otf");
  font-weight: 800;
  font-style: normal; }
body {
  font-family: 'Circe';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  color: #434343; }

img {
  max-width: 100%;
  height: auto; }

a {
  color: #434343; }
  a:hover, a:focus, a:active {
    text-decoration: none;
    color: #434343; }

.v-center {
  display: inline-block;
  vertical-align: middle;
  float: none; }

.delimiter {
  display: inline-block;
  margin-left: 30px;
  margin-right: 30px;
  height: 32px;
  border-left: 1px solid rgba(0, 0, 0, 0.1); }

::selection {
  background: #d23588;
  color: #fff; }

::-webkit-selection {
  background: #d23588;
  color: #fff;
  -webkit-text-fill-color: #fff;
  -webkit-background-clip: none; }

::-moz-selection {
  background: #d23588;
  color: #fff; }

.form-control {
  min-height: 46px;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  background-color: #f0f0f0; }
  .form-control:hover, .form-control:focus, .form-control:active {
    box-shadow: none; }

.btn {
  font-size: 15px;
  font-weight: 700;
  border-radius: 36.5px;
  letter-spacing: 1.5px; }

.btn-default {
  border-color: #f8f8f8;
  box-shadow: 2.9px 41.9px 56.9px 16.1px rgba(0, 0, 0, 0.23);
  background-color: #f8f8f8;
  color: #d9686e;
  transition: all 0.5s; }
  .btn-default:hover, .btn-default:focus, .btn-default:active {
    border-color: #f8f8f8 !important;
    background-color: #f8f8f8 !important;
    box-shadow: none;
    color: #d9686e !important; }

.btn-primary {
  border: none;
  background-image: linear-gradient(to right, #ee2a7b, #002aff);
  color: #ffffff;
  transition: all 0.5s; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    border: none !important;
    background-image: linear-gradient(to right, #ee2a7b, #002aff) !important;
    color: #ffffff !important; }

.modal-content {
  border-radius: 0px; }

.modal-body {
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 40px; }
  .modal-body h4 {
    font-weight: 700; }

.modal-title {
  margin-top: 25px;
  font-size: 24px; }

.main-header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  padding-top: 38px;
  z-index: 20; }
  .main-header .phone a {
    font-size: 20px;
    font-weight: 300;
    color: #ffffff; }
  .main-header .phone span {
    margin-left: 14px;
    font-size: 12px;
    line-height: 1.2;
    color: rgba(255, 255, 255, 0.4); }
  .main-header.alt {
    position: inherit;
    padding-bottom: 88px;
    background-color: #006af7; }

footer {
  padding-top: 24px;
  padding-bottom: 20px;
  font-size: 14px;
  background-color: #f5f5f5;
  color: rgba(67, 67, 67, 0.7); }

.top-section {
  position: relative;
  padding-top: 100px;
  height: 630px;
  background: url("../img/top-section/bg.jpg") top center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  color: #ffffff; }
  .top-section .sticky {
    display: inline-block;
    padding-left: 13px;
    padding-right: 13px;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.3;
    background-color: #ffffff;
    color: #d23588; }
    .top-section .sticky small {
      font-size: 14px;
      font-weight: 400; }
  .top-section .outer {
    margin-top: 20px; }
  .top-section .before-title {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.4px; }
  .top-section .page-title {
    margin-top: 20px;
    margin-bottom: 14px;
    font-size: 55px;
    font-weight: 700;
    line-height: 1.09; }
  .top-section .likely {
    margin-top: 50px; }
    .top-section .likely .title {
      margin-bottom: 12px;
      margin-left: 5px;
      display: block;
      font-size: 14px; }
  .top-section .buy {
    position: absolute;
    left: 0px;
    bottom: 40px;
    width: 100%; }
    .top-section .buy .special {
      margin-bottom: 15px;
      font-size: 14px; }
      .top-section .buy .special .old-price {
        text-decoration: line-through; }
    .top-section .buy .btn-default {
      width: 390px;
      height: 70px;
      line-height: 60px; }
    .top-section .buy .payments {
      margin-top: 20px; }
      .top-section .buy .payments img {
        margin-left: 9px;
        margin-right: 9px; }
  .top-section .arrow {
    position: absolute;
    bottom: -35px;
    left: 0px;
    width: 100%; }
  .top-section.last {
    padding-top: 85px;
    height: 550px; }

.questions-section {
  padding-top: 89px;
  padding-bottom: 120px; }
  .questions-section .questions {
    margin-bottom: 35px; }
    .questions-section .questions img {
      margin-left: 20px;
      margin-right: 20px; }
  .questions-section .big-text {
    font-size: 18px; }
  .questions-section .before-list {
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: 700; }
  .questions-section .company {
    margin-top: -50px; }
  .questions-section .prices {
    margin-top: -50px; }
    .questions-section .prices .number {
      display: inline-block;
      font-size: 52px;
      font-weight: 300; }
      .questions-section .prices .number small {
        font-size: 29px; }
  .questions-section .after-prices {
    margin-bottom: 50px;
    font-size: 37px;
    font-weight: 300; }
  .questions-section .upwork {
    margin-top: 30px; }

.causes-section {
  padding-bottom: 70px; }
  .causes-section .after-title {
    font-size: 15px;
    letter-spacing: 1.5px; }
  .causes-section .section-title {
    margin-top: 25px;
    margin-bottom: 40px;
    font-size: 36px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #f9ed32, #ee2a7b 62%, #002aff), linear-gradient(#fff737, #fff737); }
  .causes-section .item {
    margin-bottom: 70px;
    padding-left: 60px;
    padding-right: 60px; }
    .causes-section .item .icon {
      display: inline-block;
      float: left;
      margin-right: 27px;
      margin-bottom: 50px;
      width: 35px;
      height: 35px;
      text-align: center;
      line-height: 35px;
      border-radius: 50%; }
      .causes-section .item .icon.orange {
        background-color: #fa8851; }
      .causes-section .item .icon.pink {
        background-color: #da4582; }
      .causes-section .item .icon.purple {
        background-color: #7b45b7; }
      .causes-section .item .icon.blue {
        background-color: #3245dc; }
      .causes-section .item .icon img {
        width: 16px; }

.program-section {
  padding-bottom: 145px; }
  .program-section .outer {
    box-shadow: 2.9px 41.9px 56.9px 16.1px rgba(0, 0, 0, 0.1); }
  .program-section .nav-tabs {
    border: none; }
    .program-section .nav-tabs li {
      position: relative;
      width: 50%;
      padding-top: 13px;
      padding-bottom: 13px;
      text-align: center;
      font-size: 24px;
      transition: all 0.5s; }
      .program-section .nav-tabs li.active {
        box-shadow: -2.3px 7.7px 32.7px 5.3px rgba(0, 0, 1, 0.08); }
        .program-section .nav-tabs li.active a {
          border: none; }
        .program-section .nav-tabs li.active:after {
          background-image: linear-gradient(to right, #f9ed32, #ee2a7b 62%, #002aff), linear-gradient(#3245dc, #3245dc); }
      .program-section .nav-tabs li a {
        border: none; }
        .program-section .nav-tabs li a:hover {
          border: none;
          background-color: transparent; }
      .program-section .nav-tabs li:after {
        position: absolute;
        left: 0px;
        bottom: 0px;
        width: 100%;
        height: 3px;
        content: '';
        background-color: #f2f2f2; }
  .program-section .tab-pane {
    padding: 70px 80px 75px; }
    .program-section .tab-pane ol {
      padding-left: 0px; }
      .program-section .tab-pane ol li {
        margin-bottom: 5px;
        font-size: 18px; }
    .program-section .tab-pane .description {
      margin-top: 50px; }
      .program-section .tab-pane .description .v-center img {
        float: left;
        margin-right: 27px;
        margin-bottom: 30px; }

.guaranty-section {
  position: relative;
  padding-bottom: 95px; }
  .guaranty-section .icon {
    margin-right: 50px; }
  .guaranty-section .title {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 20px;
    letter-spacing: 2px; }
  .guaranty-section .arrow {
    position: absolute;
    bottom: -35px;
    left: 0px;
    width: 100%;
    z-index: 10; }

.buy-section {
  margin-top: -40px;
  margin-bottom: 86px; }
  .buy-section .outer {
    box-shadow: 2.9px 41.9px 56.9px 16.1px rgba(0, 0, 0, 0.1); }
    .buy-section .outer .item {
      float: left;
      width: 50%;
      height: 488px; }
      .buy-section .outer .item:first-of-type {
        padding-left: 75px;
        padding-right: 75px;
        border-top-left-radius: 15px;
        background-color: #ffffff; }
      .buy-section .outer .item:last-of-type {
        padding-top: 85px;
        padding-left: 50px;
        padding-right: 40px;
        border-top-right-radius: 15px;
        background: url("../img/buy-section/bg.jpg") center no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        color: #ffffff; }
        .buy-section .outer .item:last-of-type .before-title {
          display: block;
          font-size: 12px;
          font-weight: 700;
          letter-spacing: 1.3px; }
        .buy-section .outer .item:last-of-type .page-title {
          margin-top: 15px;
          margin-bottom: 55px;
          font-size: 42px;
          font-weight: 700; }
          .buy-section .outer .item:last-of-type .page-title img {
            width: 180px; }
        .buy-section .outer .item:last-of-type .prices {
          font-weight: 300; }
          .buy-section .outer .item:last-of-type .prices span {
            margin-left: 8px;
            margin-right: 8px; }
          .buy-section .outer .item:last-of-type .prices .old {
            font-size: 18px;
            text-decoration: line-through; }
            .buy-section .outer .item:last-of-type .prices .old sup {
              font-size: 12px; }
          .buy-section .outer .item:last-of-type .prices .current {
            font-size: 48px; }
            .buy-section .outer .item:last-of-type .prices .current sup {
              font-size: 34px; }
  .buy-section .form-title {
    margin-top: 45px;
    margin-bottom: 20px;
    font-size: 24px; }
    .buy-section .form-title small {
      font-size: 16px; }
  .buy-section .subscribe-form .label {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    width: 96px;
    font-size: 16px;
    text-align: left;
    border-radius: 0px;
    background-color: #f0f0f0;
    color: rgba(33, 33, 33, 0.9); }
    .buy-section .subscribe-form .label label {
      margin-bottom: 0px;
      font-weight: 400; }
  .buy-section .subscribe-form .input {
    margin-left: -2px;
    width: 223px; }
  .buy-section .subscribe-form button[type=submit] {
    width: 100%;
    height: 73px; }
  .buy-section .triangle-right {
    position: absolute;
    top: 0px;
    left: 50%;
    width: 0;
    height: 0;
    border-top: 244px solid transparent;
    border-left: 20px solid #ffffff;
    border-bottom: 244px solid transparent; }
  .buy-section .payments {
    margin-top: 66px; }
    .buy-section .payments img {
      margin-left: 9px;
      margin-right: 9px; }

.status-section {
  margin-top: -40px;
  margin-bottom: 86px; }
  .status-section .outer {
    padding-top: 97px;
    padding-bottom: 55px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 2.9px 41.9px 56.9px 16.1px rgba(0, 0, 0, 0.1); }
  .status-section .success {
    background: url("../img/status-section/bg.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    color: #ffffff; }
    .status-section .success .title {
      margin-top: 26px;
      margin-bottom: 45px;
      font-size: 24px; }
    .status-section .success .after-title {
      font-size: 14px; }
  .status-section .error {
    background-color: #ffffff; }

/*
====== Large Devices, Wide Screens: ======
*/
@media only screen and (max-width: 1200px) {
  .top-section {
    padding-top: 110px;
    height: 740px; }
    .top-section .page-title {
      font-size: 46px; }
    .top-section .likely {
      margin-top: 35px; }
    .top-section.last {
      height: 680px; }

  .questions-section .questions img {
    margin-left: 5px;
    margin-right: 5px; }

  .causes-section .item .icon {
    margin-bottom: 96px; }

  .program-section .tab-pane {
    padding-left: 50px;
    padding-right: 50px; }

  .buy-section .outer .item:first-of-type {
    padding-left: 25px;
    padding-right: 25px; }
  .buy-section .outer .item:last-of-type {
    padding-top: 55px; }
    .buy-section .outer .item:last-of-type .before-title {
      margin-top: 30px; }
    .buy-section .outer .item:last-of-type .page-title {
      font-size: 28px; }
      .buy-section .outer .item:last-of-type .page-title img {
        width: 130px; }
  .buy-section .subscribe-form .input {
    width: 241px; } }
/*
====== Medium Devices, Desktops: ======
*/
@media only screen and (max-width: 992px) {
  .top-section {
    height: auto;
    padding-bottom: 60px; }
    .top-section .buy {
      margin-top: -30px;
      position: inherit; }
    .top-section.last {
      height: auto; }

  .questions-section .questions img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 15px; }
  .questions-section .company {
    margin-top: 0px; }
  .questions-section .prices {
    margin-top: 0px; }

  .causes-section .section-title {
    font-size: 34px; }
  .causes-section .item {
    padding-left: 15px;
    padding-right: 15px; }
    .causes-section .item .icon {
      margin-bottom: 20px; }

  .guaranty-section .icon {
    margin-right: 0px; }
  .guaranty-section .description {
    margin-top: 30px;
    text-align: center; }

  .buy-section .subscribe-form .input {
    width: 212px; } }
/*
====== Small Devices, Tablets: ======
*/
@media only screen and (max-width: 768px) {
  .top-section .sticky small {
    font-size: 12px; }

  .program-section .nav-tabs li {
    font-size: 18px; }

  .buy-section .outer .item {
    width: 100%;
    height: auto;
    padding-bottom: 45px; }
    .buy-section .outer .item:first-of-type {
      border-top-right-radius: 15px; }
    .buy-section .outer .item:last-of-type {
      border-top-right-radius: 0px; }
  .buy-section .triangle-right {
    display: none; }
  .buy-section .subscribe-form .label {
    width: 20%; }
  .buy-section .subscribe-form .input {
    width: 79%; }

  .custom-modal {
    padding-left: 15px;
    padding-right: 15px; }
    .custom-modal .inner {
      width: 100%;
      padding-left: 20px;
      padding-right: 20px; } }
@media only screen and (max-width: 640px) {
  .main-header .logo, .main-header .phone {
    float: none !important;
    display: block; }
  .main-header .phone {
    margin-top: 15px; }

  .delimiter {
    margin-left: 15px;
    margin-right: 15px; }

  .top-section {
    padding-top: 150px; }
    .top-section .sticky {
      background-color: transparent;
      color: #ffffff; }

  .questions-section .prices .number {
    font-size: 36px; }
  .questions-section .after-prices {
    font-size: 28px; }

  .program-section .nav-tabs li {
    font-size: 14px; }
  .program-section .tab-pane .description .v-center img {
    margin-right: 10px; }

  .causes-section .item .icon {
    margin-bottom: 0px; }

  .buy-section .subscribe-form .label {
    padding-left: 10px; } }
/*
====== Extra Small Devices, Phones: ======
*/
@media only screen and (max-width: 480px) {
  .top-section .sticky {
    font-size: 18px; }
  .top-section .page-title {
    font-size: 26px; }
    .top-section .page-title img {
      width: 140px; }
  .top-section .buy {
    margin-top: 30px; }
    .top-section .buy .payments img {
      margin-left: 5px;
      margin-right: 5px;
      width: 65px; }
    .top-section .buy .btn-default {
      width: 265px;
      height: 60px;
      line-height: 24px;
      white-space: pre-line; }

  .questions-section {
    padding-bottom: 80px; }
    .questions-section .prices .number {
      font-size: 24px; }
      .questions-section .prices .number small {
        font-size: 12px; }
    .questions-section .after-prices {
      margin-bottom: 30px;
      font-size: 20px; }

  .causes-section {
    padding-bottom: 30px; }
    .causes-section .section-title {
      font-size: 26px; }
    .causes-section .item {
      margin-bottom: 30px; }

  .program-section {
    padding-bottom: 80px; }
    .program-section .tab-pane {
      padding: 15px 30px 40px; }
      .program-section .tab-pane ol li {
        font-size: 16px; }
    .program-section .delimiter {
      display: none; }
    .program-section .description {
      margin-top: 30px; }
      .program-section .description .v-center {
        margin-bottom: 15px; }

  footer .copyright, footer .privacy {
    float: none !important; }
  footer .copyright {
    margin-top: 15px; }

  .buy-section .outer .item:last-of-type {
    padding-left: 25px;
    padding-right: 25px; }
  .buy-section .subscribe-form .label {
    display: none; }
  .buy-section .subscribe-form .input {
    width: 100%; }
  .buy-section .subscribe-form button[type=submit] {
    height: 50px; }
  .buy-section .payments img {
    margin-left: 5px;
    margin-right: 5px;
    width: 55px; }

  .status-section .outer {
    padding-left: 15px;
    padding-right: 15px; } }
/*
====== Custom, iPhone Retina: ======
*/

/*# sourceMappingURL=style.css.map */
