/*--- Basic styles ---*/
html{ overflow-y: scroll !important; }

body{
  font-family: $f-main;
  color: #292929;
  font-size: 24px;
  line-height: 1.6;
  padding-right: 0 !important;

  @media(max-width: 767px){
    font-size: 20px;
  }

  @media(max-width: 575px){
    font-size: 18px;
  }
}

.wrapper{
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  position: relative;
}

*{
  box-sizing: border-box;
  outline: none !important;
}

a{
  text-decoration: none;
  &:hover,
  &:focus,
  &:active,
  &:visited{
    text-decoration: none;
    outline: none;
  }
}

p{
  font-size: 20px;

  @media(max-width: 1440px){
    font-size: 18px;
  }

  @media(max-width: 992px){
    font-size: 16px;
  }

  @media(max-width: 575px){
    font-size: 14px;
  }
}

section{
  background-color: #161616;
}

.logic{
  .content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media(max-width: 992px){
      flex-wrap: wrap;
    }

    .text{
      width: 53.15vw;

      @media(max-width: 992px){
        width: 100%;
      }

      .item{
        margin-bottom: 80px;
        position: relative;
        display: flex;
        align-items: flex-start;

        @media(max-width: 575px){
          margin-bottom: 40px;
        }

        @media(max-width: 440px){
          flex-wrap: wrap;
        }

        .number{
          font-family: $f-mira;
          width: 125px;
          position: relative;
          z-index: 2;
          line-height: 0.7;
          margin-right: 35px;
          font-size: 80px;
          letter-spacing: 0.1em;
          opacity: 1;
          color: #161616;
          text-shadow:
                  -0   -2px 0   #221EC4,
                  0   -2px 0   #221EC4,
                  -0    2px 0   #221EC4,
                  0    2px 0   #221EC4,
                  -2px -0   0   #221EC4,
                  2px -0   0   #221EC4,
                  -2px  0   0   #221EC4,
                  2px  0   0   #221EC4,
                  -1px -2px 0   #221EC4,
                  1px -2px 0   #221EC4,
                  -1px  2px 0   #221EC4,
                  1px  2px 0   #221EC4,
                  -2px -1px 0   #221EC4,
                  2px -1px 0   #221EC4,
                  -2px  1px 0   #221EC4,
                  2px  1px 0   #221EC4,
                  -2px -2px 0   #221EC4,
                  2px -2px 0   #221EC4,
                  -2px  2px 0   #221EC4,
                  2px  2px 0   #221EC4,
                  -2px -2px 0   #221EC4,
                  2px -2px 0   #221EC4,
                  -2px  2px 0   #221EC4,
                  2px  2px 0   #221EC4;

          @media(max-width: 992px){
            font-size: 65px;
            width: 110px;
          }

          @media(max-width: 575px){
            font-size: 45px;
            width: 80px;
            margin-right: 20px;
          }

          @media(max-width: 440px){
            margin-bottom: 30px;
          }
        }

        .about{
          width: 43.75vw;
          position: relative;
          z-index: 2;

          @media(max-width: 992px){
            width: 65.75vw;
          }

          @media(max-width: 767px){
            width: 75.75vw;
          }

          @media(max-width: 440px){
            width: 100%;
          }
        }

        p{
          margin-bottom: 0;
          color: #ffffff;
        }

        h3{
          font-size: 20px;
          font-family: $f-bold;
          margin-top: 20px;
          margin-bottom: 10px;
          color: #ffffff;

          @media(max-width: 1440px){
            font-size: 18px;
          }

          @media(max-width: 992px){
            font-size: 16px;
          }

          @media(max-width: 575px){
            font-size: 14px;
          }
        }

        ul{
          padding: 0;
          margin: 0 0 20px;


          li{
            list-style: none;
            margin-bottom: 10px;
            padding-left: 30px;
            font-size: 20px;
            color: #ffffff;
            position: relative;

            @media(max-width: 1440px){
              font-size: 18px;
              padding-left: 25px;
            }

            @media(max-width: 992px){
              font-size: 16px;
            }

            @media(max-width: 575px){
              font-size: 14px;
            }

            &::before{
              content: '';
              position: absolute;
              top: 12px;
              left: 0;
              width: 10px;
              height: 10px;
              background-color: $accent;

              @media(max-width: 1440px){
                top: 10px;
              }

              @media(max-width: 767px){
                top: 8px;
              }

              @media(max-width: 575px){
                top: 7px;
              }
            }

            &:last-child{
              margin-bottom: 0;
            }
          }
        }

        .cursive{
          font-size: 18px;
          line-height: 1.5 !important;
          font-family: $f-bold;
          color: #ffffff;

          @media(max-width: 1440px){
            font-size: 16px;
          }

          @media(max-width: 992px){
            font-size: 14px;
          }

          @media(max-width: 575px){
            font-size: 12px;
          }
        }
      }
    }

  }
}

/*
.pic-wrapper{
  outline: 1px solid red !important;
}
*/



.figure{
  position: absolute;
  width: 13.85vw;
  height: 13.85vw;
  border-radius: 50%;
  background-color: #161616;
  box-shadow: -30px -30px 80px #1A1A1A, 30px 30px 80px rgba(10, 10, 10, 0.7), inset 4px 4px 20px rgba(0, 0, 0, 0.1);
  z-index: 1;

  @media(max-width: 992px){
    width: 17vw;
    height: 17vw;
  }

  @media(max-width: 575px){
    width: 25vw;
    height: 25vw;
  }

}

  /*--- block-title ---*/

.block-title {
  font-size: 35px;
  font-family: $f-mira;
  line-height: 1.3;
  letter-spacing: 0.05em;
  margin-bottom: 30px;
  color: #ffffff;
  text-transform: uppercase;

  @media(max-width: 1440px){
    font-size: 32px;
    margin-bottom: 25px;
  }

  @media(max-width: 767px){
    font-size: 28px;
  }

  @media(max-width: 575px){
    font-size: 24px;
    margin-bottom: 20px;
  }
}

/*--- backgroud image ---*/

@mixin bg-img{
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

