
@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat-Regular/Montserrat-Regular.woff') format('woff'),
  url('../fonts/Montserrat-Regular/Montserrat-Regular.ttf')  format('truetype'),
  url('../fonts/Montserrat-Regular/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat-Italic';
  src: url('../fonts/Montserrat-Italic/Montserrat-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat-Italic/Montserrat-Italic.woff') format('woff'),
  url('../fonts/Montserrat-Italic/Montserrat-Italic.ttf')  format('truetype'),
  url('../fonts/Montserrat-Italic/Montserrat-Italic.svg#Montserrat-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fonts/Montserrat-Bold/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat-Bold/Montserrat-Bold.woff') format('woff'),
  url('../fonts/Montserrat-Bold/Montserrat-Bold.ttf')  format('truetype'),
  url('../fonts/Montserrat-Bold/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat-BoldItalic';
  src: url('../fonts/Montserrat-BoldItalic/Montserrat-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat-BoldItalic/Montserrat-BoldItalic.woff') format('woff'),
  url('../fonts/Montserrat-BoldItalic/Montserrat-BoldItalic.ttf')  format('truetype'),
  url('../fonts/Montserrat-BoldItalic/Montserrat-BoldItalic.svg#Montserrat-BoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Miratrix-Normal';
  src: url('../fonts/Miratrix-Normal/Miratrix-Normal.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Miratrix-Normal/Miratrix-Normal.woff') format('woff'),
  url('../fonts/Miratrix-Normal/Miratrix-Normal.ttf')  format('truetype'),
  url('../fonts/Miratrix-Normal/Miratrix-Normal.svg#Miratrix-Normal') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Montserrat-Medium';
  src: url('../fonts/Montserrat-Medium/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Montserrat-Medium/Montserrat-Medium.woff') format('woff'),
  url('../fonts/Montserrat-Medium/Montserrat-Medium.ttf')  format('truetype'),
  url('../fonts/Montserrat-Medium/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geometria-Medium';
  src: url('../fonts/Geometria-Medium/Geometria-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Geometria-Medium/Geometria-Medium.otf')  format('opentype'),
  url('../fonts/Geometria-Medium/Geometria-Medium.woff') format('woff'),
  url('../fonts/Geometria-Medium/Geometria-Medium.ttf')  format('truetype'),
  url('../fonts/Geometria-Medium/Geometria-Medium.svg#Geometria-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



