
/*--- FONTS ---*/

$f-main: 'Montserrat-Regular';
$f-bold: 'Montserrat-Bold';
$f-italic: 'Montserrat-Italic';
$f-b-italic: 'Montserrat-BoldItalic';
$f-mira: 'Miratrix-Normal';
$f-med: 'Montserrat-Medium';
$f-geo: 'Geometria-Medium';

/*--- COLORS ---*/

$accent: #221EC4;