/*--- IMPORT ---*/

@import "fonts";
@import "variables";
@import "basic";

/*--- HEADER ---*/

header{
  min-height: 100vh;
  background-color: $accent;

  .container-fluid{
    height: 100vh;

    @media(max-width: 992px){
      height: 100%;
    }
  }

  .row{
    height: 100%;
  }

  .content{
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;

    @media(max-width: 992px){
      flex-wrap: wrap;
    }

    .info{
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      padding: 40px 15px 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      z-index: 3;

      @media(max-width: 992px){
        position: relative;
        padding: 20px 0px 40px;

      }

      .logo{
        @media(max-width: 440px){
          width: 150px;

          svg{
            width: 100%;
            height: auto;
          }
        }
      }

      .lang-panel{
        display: flex;
        margin: 0;
        padding: 0;

        li{
          margin-bottom: 0;
          list-style: none;

          &:first-child{
            margin-right: 20px;

            @media(max-width: 440px){
              margin-right: 15px;
            }
          }
        }

        a{
          text-transform: uppercase;
          color: rgba(255,255,255, 0.5);
          transition: all 0.5s;
          font-size: 18px;

          @media(max-width: 440px){
            font-size: 16px;
          }

          &:hover{
            color: rgba(255,255,255,0.8);
          }
        }

        .active{
          color: rgba(255,255,255,1);
        }
      }
    }

    .text-pic{
      position: relative;
      color: #ffffff;
      width: 100%;
      z-index: 2;

      h1{
        font-size: 8vw;
        letter-spacing: 0.05em;
        font-family: $f-mira;
        text-transform: uppercase;
        line-height: 1.1;
        margin-bottom: 35px;
        width: 42.8vw;
        z-index: 2;
        position: relative;
        color: #ffffff;

        @media(max-width: 992px){
          width: 100%;
        }

        @media(max-width: 767px){
          font-size: 10vw;
        }

        @media(max-width: 575px){
          font-size: 15vw;
        }
      }

      p{
        margin-bottom: 0;
        max-width: 46.8vw;
        z-index: 2;
        position: relative;
        color: #ffffff;

        @media(max-width: 992px){
          max-width: 100%;
          margin-bottom: 30px;
        }
      }

      .pic{
        position: absolute;
        width: 41.9vw;
        bottom: 0;
        right: 0;
        z-index: 1;

        @media(max-width: 992px){
          position: relative;
          width: 100%;
        }

        svg{
          width: 100%;
          height: auto;
        }
      }

    }
  }
}

//

.first-logic{
  padding-top: 120px;

  @media(max-width: 992px){
    padding-top: 100px;
  }

  @media(max-width: 575px){
    padding-top: 80px;
  }

  .content{
    @media(max-width: 992px){
      flex-direction: column-reverse;
    }

    .pic-wrapper{
      width: 27.5vw;
      position: relative;
      margin-top: 200px;

      @media(max-width: 992px){
        width: 70%;
        margin-top: 0;
      }

      @media(max-width: 440px){
        width: 100%;
      }

      .pic{
        position: relative;
        z-index: 2;
        width: 100%;

        svg{
          width: 100%;
          height: auto;
        }
      }

      .figure{
        right: 0;
        bottom: -65%;

        @media(max-width: 992px){
          display: none;
        }
      }
    }

    .item{

      &:first-child{
        .number{
          letter-spacing: 0.2em;
        }
      }

      .figure{
        right: -85px;
        top: 50px;

        @media(max-width: 767px){
          right: 0;
        }
      }
    }
  }
}

//

.second-logic{
  padding-top: 50px;

  .content{
    @media(max-width: 992px){

    }
  }

  .pic-wrapper{
    width: 28.17vw;
    position: relative;
    margin-top: 75px;

    @media(max-width: 992px){
      margin: 0 auto;
      width: 70%;
    }

    @media(max-width: 440px){
      width: 100%;
    }

    .pic{
      position: relative;
      z-index: 2;
      width: 100%;

      svg{
        width: 100%;
        height: auto;
      }
    }

    .figure{
      top: -20%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;

      @media(max-width: 992px){
        display: none;
      }
    }
  }
}

//

.third-logic{
  .content{
    @media(max-width: 992px){
      flex-direction: column-reverse;
      margin-bottom: 50px;
    }

    .item{
      &:first-child{
        .figure{
          bottom: 0;
          right: -50px;
        }
      }
    }

    .pic-wrapper{
      position: relative;
      width: 29.16vw;
      margin-top: 130px;

      @media(max-width: 992px){
        width: 70%;
        margin-top: 0;
      }

      @media(max-width: 440px){
        width: 100%;
      }

      .pic{
        position: relative;
        z-index: 2;
        width: 100%;

        svg{
          width: 100%;
          height: auto;
        }
      }

      .figure{
        top: -20%;
        right: 0;
        z-index: 1;

        @media(max-width: 992px){
          display: none;
        }
      }
    }
  }
}

//

.fourth-logic{
  .content{
    .item{
      &:first-child{
        .figure{
          top: 0;
          left: -10%;
        }
      }
    }

    .pic-wrapper{
      position: relative;
      width: 23.85vw;

      @media(max-width: 992px){
        margin: 0 auto;
        width: 70%;
      }

      @media(max-width: 440px){
        width: 100%;
      }

      .pic{
        position: relative;
        z-index: 2;
        width: 100%;

        svg{
          width: 100%;
          height: auto;
        }
      }

      .figure{
        bottom: -5%;
        left: -5%;
        z-index: 1;

        @media(max-width: 992px){
          display: none;
        }
      }
    }
  }
}

//

.fifth-logic{
  .content{
    @media(max-width: 992px){
      flex-direction: column-reverse;
      margin-bottom: 50px;
    }

    .item{
      &:last-child{
        .number{
          letter-spacing: 0.2em;
        }
      }
    }

    .pic-wrapper{
      position: relative;
      width: 28.33vw;
      margin-top: 30px;

      @media(max-width: 992px){
        width: 70%;
        margin-top: 0;
      }

      @media(max-width: 440px){
        width: 100%;
      }

      .pic{
        position: relative;
        z-index: 2;
        width: 100%;

        svg{
          width: 100%;
          height: auto;
        }
      }

      .figure{
        bottom: -10%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;

        @media(max-width: 992px){
          display: none;
        }
      }
    }
  }
}

//

.sixth-logic{
  .content{
    .item{
      .number{
        letter-spacing: 0.2em;
      }

      .about{
        p{
          margin-bottom: 10px;
        }
      }
    }

    .pic-wrapper{
      position: relative;
      width: 26.66vw;

      @media(max-width: 992px){
        margin: 0 auto 50px;
        width: 70%;
      }

      @media(max-width: 440px){
        width: 100%;
      }

      .pic{
        position: relative;
        z-index: 2;
        width: 100%;

        svg{
          width: 100%;
          height: auto;
        }
      }

      .figure{
        bottom: 5%;
        left: 0;
        z-index: 1;

        @media(max-width: 992px){
          display: none;
        }
      }
    }
  }
}

//

.seventh-logic{
  .content{
    @media(max-width: 992px){
      flex-direction: column-reverse;
      margin-bottom: 50px;
    }

    .pic-wrapper{
      position: relative;
      width: 28.22vw;
      margin-top: 100px;

      @media(max-width: 992px){
        width: 70%;
        margin-top: 0;
      }

      @media(max-width: 440px){
        width: 100%;
      }

      .pic{
        position: relative;
        z-index: 2;
        width: 100%;

        svg{
          width: 100%;
          height: auto;
        }
      }

      .figure{
        top: -5%;
        right: -5%;
        z-index: 1;

        @media(max-width: 992px){
          display: none;
        }
      }
    }
  }
}

//

.sale-services{
  .sale{
    background-color: $accent;
    display: flex;
    align-items: center;
    justify-content: space-around;

    @media(max-width: 992px){
      padding-top: 40px;
      padding-bottom: 40px;
      padding-left: 8.33vw;
      padding-right: 8.33vw;
    }

    @media(max-width: 767px){
      padding-left: 15px;
      padding-right: 15px;
    }

    .block-title{
      width: 27.3vw;
      margin-bottom: 0;
      font-size: 1.8vw;

      @media(max-width: 1200px){
        width: 30.3vw;
        font-size: 2vw;
      }

      @media(max-width: 992px) {
        width: 100%;
        font-size: 32px;
      }

      @media(max-width: 767px){
        font-size: 28px;
      }

      @media(max-width: 575px){
        font-size: 24px;
      }

      span{
        font-family: $f-geo;
      }
    }
  }

  .services{
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 8.33vw;
    padding-right: 8.33vw;
    background-color: #F1F3F6;

    @media(max-width: 1200px){
      padding-left: 5.2vw;
    }

    @media(max-width: 992px){
      padding-top: 40px;
      padding-bottom: 40px;
      padding-left: 8.33vw;

    }

    @media(max-width: 767px){
      padding-left: 15px;
      padding-right: 15px;
    }

    .row{
      @media(max-width: 992px){
        flex-wrap: wrap;
      }
    }

    .block-title{
      color: #161616;
    }

    .content{
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media(max-width: 490px){
        flex-wrap: wrap;
      }
    }

    .pic{
      width: 17.3vw;

      @media(max-width: 992px){
        width: 25.3vw;
      }

      @media(max-width: 767px){
        width: 35.3vw;
      }

      @media(max-width: 490px){
        width: 70%;
        margin: 0 auto;
      }

      svg{
        width: 100%;
        height: auto;
      }
    }

    ul{
      padding: 0;
      margin: 0 0 20px;


      li{
        list-style: none;
        margin-bottom: 10px;
        padding-left: 30px;
        font-size: 20px;
        color: #161616;
        position: relative;

        @media(max-width: 1440px){
          font-size: 18px;
          padding-left: 25px;
        }

        @media(max-width: 992px){
          font-size: 16px;
        }

        @media(max-width: 575px){
          font-size: 14px;
        }

        &::before{
          content: '';
          position: absolute;
          top: 12px;
          left: 0;
          width: 10px;
          height: 10px;
          background-color: $accent;

          @media(max-width: 1440px){
            top: 10px;
          }

          @media(max-width: 767px){
            top: 8px;
          }

          @media(max-width: 575px){
            top: 7px;
          }
        }

        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
}

//

.contacts{
  background-color: #ffffff;
  padding-top: 95px;
  padding-bottom: 60px;

  @media(max-width: 992px){
    padding-top: 75px;
    padding-bottom: 40px;
  }

  @media(max-width: 767px){
    padding-top: 55px;
    padding-bottom: 30px;
  }

  .content{
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media(max-width: 500px){
      justify-content: space-around;
      flex-wrap: wrap;
      width: 255px !important;
      margin: 0 auto !important;
    }

    .logo{
      width: 170px;

      @media(max-width: 767px){
        width: 130px;
      }

      @media(max-width: 500px){
        margin-bottom: 15px;
      }

      svg{
        width: 100%;
        height: auto;
      }
    }

    .social{
      width: 120px;
      display: flex;
      justify-content: space-between;

      @media(max-width: 767px){
        width: 100px;
      }

      @media(max-width: 500px){
        margin-bottom: 15px;
      }

      a{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border: 1px solid #BDBDBD;
        transition: all 0.5s;
        background-color: #ffffff;

        @media(max-width: 767px){
          width: 45px;
          height: 45px;
        }

        &:hover{
          background-color: $accent;
          border-color: $accent;

          svg{
            path{
              fill: #ffffff;
            }
          }
        }

        svg{
          path{
            transition: all 0.5s;
          }
        }

      }
    }

    .working-hours{
      text-align: right;

      .phone{
        color: #000000;
        font-family: $f-med;
        font-size: 22px;
        line-height: 1.4;
        margin-bottom: 10px;

        @media(max-width: 767px){
          font-size: 20px;
        }
      }

      p{
        font-size: 12px;
        font-family: $f-med;
        color: #000000;

        @media(max-width: 767px){
          font-size: 10px;
        }
      }
    }
  }
}