body {
  font-family: 'Circle';
  font-size: 16px;
  font-weight: 400;
  line-height: 1.63;
  color: $fontColor;
}

a {
  color: $fontColor;

  &:hover, &:focus, &:active {
    text-decoration: none;
    color: $mainColor;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.v-center {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.page-title {
  margin-top: 28px;
  margin-bottom: 20px;
  font-size: 55px;
  font-weight: 700;
  line-height: 1.09;
  color: $secondColor;
}

.section-title {
  margin-top: 75px;
  margin-bottom: 45px;
  font-size: 36px;
  line-height: 1.45;
  color: $secondColor;
}

::-webkit-input-placeholder {
  color: #000;
}

::-moz-placeholder {
  color: #000;
}

:-moz-placeholder {
  color: #000;
}

:-ms-input-placeholder {
  color: #000;
}

.loader {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 999;
}