.btn {
  border-radius: 0px;
  font-size: 18px;
  line-height: 1.44;
}

.btn-primary {
  border-color: $mainColor;
  background-color: $mainColor;
  color: #ffffff;

  &:hover, &:focus, &:active {
    border-color: darken($mainColor, 10%) !important;
    background-color: darken($mainColor, 10%) !important;
    color: #ffffff !important;
  }
}

.btn-success {
  border-color: $secondColor;
  background-color: $secondColor;
  color: $fontColor;

  &:hover, &:focus, &:active {
    border-color: darken($secondColor, 10%) !important;
    background-color: darken($secondColor, 10%) !important;
    color: $fontColor !important;
  }
}