@font-face {
  font-family: 'Circle';
  src: url('../fonts/Circe-Thin.otf');
  src: local('☺'),
    url('../fonts/Circe-Thin.otf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Circle';
  src: url('../fonts/Circe-Light.otf');
  src: local('☺'),
    url('../fonts/Circe-Light.otf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Circle';
  src: url('../fonts/Circe.otf');
  src: local('☺'),
    url('../fonts/Circe.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Circle';
  src: url('../fonts/Circe-Bold.otf');
  src: local('☺'),
    url('../fonts/Circe-Bold.otf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Circle';
  src: url('../fonts/Circe-ExtraBold.otf');
  src: local('☺'),
    url('../fonts/Circe-ExtraBold.otf');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Flow';
  src: url('../fonts/FlowRegular.ttf');
  src: local('☺'),
  url('../fonts/FlowRegular.ttf');
  font-weight: 400;
  font-style: normal;
}