.before-footer {
  padding-top: 53px;
  padding-bottom: 47px;

  .phone {
    margin-right: 35px;

    a {
      font-size: 20px;
      font-weight: 300;
    }

    span {
      margin-left: 14px;
      font-size: 12px;
      line-height: 1.2;
      color: rgba(0, 0, 0, 0.4);
    }
  }

  .email {
    a {
      font-size: 20px;
      font-weight: 300;
      color: $secondColor;
    }
  }
}

footer {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 14px;
  background-color: $footerBg;
  color: rgba(67, 67, 67, 0.7) !important;
}