.form-control {
  min-height: 46px;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  background-color: #f0f0f0;

  &:hover, &:focus, &:active {
    box-shadow: none;
  }
}

.has-success {
  .form-control {
    box-shadow: none !important;
    border-color: transparent !important;
    color: $mainColor !important;
  }

  .input {
    &:after {
      content: "\f058";
      color: $mainColor;
    }
  }
}

.has-danger {
  .form-control {
    box-shadow: none !important;
    border-color: transparent !important;
    color: #ff0000 !important;
  }

  .input {
    &:after {
      content: "\f06a";
      color: #ff0000;
    }
  }
}

.has-feedback {
  .input {
    position: relative;

    &:after {
      position: absolute;
      top: 10px;
      right: 15px;
      width: 15px;
      height: auto;
      font-family: 'FontAwesome';
    }
  }
}