.main-header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  z-index: 10;

  .contacts {
    a {
      font-size: 20px;
      font-weight: 300;
      color: #ffffff;
    }

    span {
      margin-left: 14px;
      font-size: 12px;
      line-height: 1.2;
      color: rgba(255, 255, 255, 0.4);
    }
  }
}