/*
====== Large Devices, Wide Screens: ======
*/
@media only screen and (max-width : 1200px) {
  .top-section {
    .date {
      margin-top: 0px;
    }

    .subscribe-form {
      width: 390px;

      .input {
        margin-left: -2px;
        width: 212px;
      }
    }

    .message {
      display: none;
    }
  }

  .you-know-section {
    .like-outer {
      display: none;
    }
  }

  .programs-section {
    .item {
      padding-left: 60px;
      padding-right: 60px;

      &.bg {
        padding-top: 90px;
      }
    }
  }
}

/*
====== Medium Devices, Desktops: ======
*/
@media only screen and (max-width : 992px) {
  .top-section {
    padding-bottom: 60px;
    height: auto;

    .outer {
      width: 100%;
    }

    .subscribe-form {
      margin-top: 30px;
      float: left !important;
    }
  }

  .page-title {
    margin-bottom: 25px;
  }

  .who-useful-section {
    padding-bottom: 100px;

    .section-title {
      margin-bottom: 45px;
    }

    .item {
      margin-bottom: 30px;
    }
  }

  .you-know-section {
    padding-bottom: 80px;
  }

  .programs-section {
    .section-title {
      margin-bottom: 45px;
    }

    .item {
      padding-top: 30px !important;
      padding-bottom: 30px !important;
    }
  }

  .speaker-section {
    padding-bottom: 400px;
  }
}

/*
====== Small Devices, Tablets: ======
*/
@media only screen and (max-width : 768px) {
  
}

@media only screen and (max-width : 640px) {
  .main-header {
    .contacts, .logo {
      float: none !important;
    }

    .contacts {
      margin-top: 15px;
    }
  }

  .top-section {
    padding-top: 140px;
  }

  .page-title {
    font-size: 44px;
  }

  .speaker-section {
    padding-bottom: 350px;
  }

  .why-section {
    .figure {
      display: none;
    }
  }
}

/*
====== Extra Small Devices, Phones: ======
*/
@media only screen and (max-width : 480px) {
  .page-title {
    font-size: 28px;
    line-height: 1.3;

    img {
      width: 100px;
    }
  }

  .top-section {
    .subscribe-form {
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;

      .label {
        display: none;
      }

      .input {
        width: 100%;
      }
    }
  }

  .section-title {
    font-size: 28px;
    margin-bottom: 35px;
  }

  .fb_iframe_widget {
    display: none !important;
  }

  .programs-section {
    .item {
      padding-left: 30px;
      padding-right: 30px;

      .btn-subscribe {
        width: 100%;
      }
    }
  }

  .speaker-section {
    padding-bottom: 230px;

    .description {
      .name {
        font-size: 20px;
      }
    }
  }

  .before-footer {
    .phone {
      margin-right: 0px;
    }
  }

  footer {
    .privacy, .copyright {
      float: none !important;
    }

    .copyright {
      margin-top: 15px;
    }
  }
}

/*
====== Custom, iPhone Retina: ======
*/
@media only screen and (max-width : 320px) {

}