$mainColor: #006af7;
$secondColor: #8cec9d;
$fontColor: #434343;
$footerBg: #f5f5f5;

@import "fonts";

@import "base";

@import "forms";
@import "buttons";
@import "modals";

@import "header";
@import "footer";

.top-section {
  padding-top: 105px;
  position: relative;
  height: 608px;
  background: url("../img/top-section/bg.jpg") top center no-repeat;
  background-size: cover;
  color: #ffffff;
  
  .overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: $mainColor;
    opacity: 0.8;
    z-index: 1;
  }

  .bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;

    video {
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
    }
  }

  .outer {
    position: relative;
    float: left;
    width: 58.33333333%;
    z-index: 5;
  }

  .message {
    position: absolute;
    left: 50%;
    bottom: 85px;
    margin-left: -132.5px;
    z-index: 5;
  }

  .date {
    margin-top: 35px;
    font-size: 14px;
    letter-spacing: 1.4px;
  }

  .after-title {
    font-weight: 700;
  }

  .fb {
    vertical-align: baseline;
  }

  .in {
    vertical-align: bottom;
  }

  .share {
    margin-top: 28px;
    font-size: 14px;
  }

  .subscribe-form {
    position: relative;
    padding: 46px 40px 38px;
    width: 400px;
    background-color: #ffffff;
    color: $fontColor;
    z-index: 5;

    .title {
      margin-top: 0px;
      margin-bottom: 29px;
      font-size: 22px;
      font-weight: 700;

      small {
        font-size: 18px;
        font-weight: 700;
      }
    }

    .label {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 16px;
      width: 96px;
      font-size: 16px;
      text-align: left;
      border-radius: 0px;
      background-color: #f0f0f0;
      color: rgba(33, 33, 33, 0.9);

      label {
        margin-bottom: 0px;
      }
    }

    .input {
      margin-left: -2px;
      width: 222px;
    }

    button[type=submit] {
      width: 100%;
      height: 60px;
    }

    .count {
      margin-top: 11px;

      .number {
        display: inline-block;
        margin-left: 9px;
        width: 30px;
        height: 30px;
        line-height: 32px;
        border-radius: 50%;
        background-color: #ff0000;
        color: #ffffff;
      }
    }
  }

  .arrow {
    position: absolute;
    left: 0px;
    bottom: -30px;
    width: 100%;
    z-index: 5;
  }
}

.you-know-section {
  position: relative;
  padding-bottom: 20px;

  .description {
    position: relative;
    margin-bottom: 37px;
    padding-left: 0px;
    list-style: none;

    li {
      margin-bottom: 30px;
      padding-left: 30px;

      img {
        position: relative;
        max-width: 25px;
        margin-left: -26px;
      }

      span {
        margin-left: 15px;
      }
    }
  }

  .like-outer {
    position: absolute;
    left: 0px;
    bottom: 35px;
    width: 100%;
    font-family: 'Flow';

    img {
      margin-left: 15px;
    }
  }
}

.who-useful-section {
  position: relative;
  padding-bottom: 146px;
  background-color: $mainColor;
  color: #ffffff;

  .arrow {
    position: absolute;
    top: -20px;
    left: 0px;
    width: 100%;
  }

  .line {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: url("../img/who-useful-section/line.png") bottom center no-repeat;
    background-size: cover;
  }

  .section-title {
    margin-bottom: 98px;
  }

  .item {
    .title {
      margin-top: 0px;
      margin-bottom: 20px;
      font-size: 24px;
      font-weight: 700;
      line-height: 1.08;
    }

    .description {
      color: #8fbfff;
    }
  }
}

.programs-section {
  position: relative;
  margin-top: -40px;
  padding-bottom: 47px;
  z-index: 5;

  .section-title {
    margin-top: 35px;
    margin-bottom: 95px;
    font-weight: 700;
    color: #ffffff;
  }

  .outer {
    box-shadow: 0 0 43.2px 10.8px rgba(0, 0, 0, 0.06);
  }

  .item {
    padding-left: 100px;
    padding-right: 100px;
    background-color: #ffffff;

    &.bg {
      padding-top: 85px;
      padding-bottom: 100px;
      background-color: $secondColor;
    }

    .btn-subscribe {
      padding: 0px;
      width: 320px;
      height: 60px;
      line-height: 56px;
    }
  }

  .description {
    padding-top: 30px;

    ol {
      padding-left: 0px;

      li {
        margin-bottom: 15px;
      }
    }
  }
}

.speaker-section {
  position: relative;
  padding-top: 20px;
  padding-bottom: 50px;
  background-color: $mainColor;
  color: #ffffff;

  .section-title {
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .thumb {
    position: absolute;
    bottom: 0px;
  }

  .description {
    .name {
      font-size: 24px;
      font-weight: 700;
      line-height: 1.08;
    }

    .social {
      display: inline-block;
      margin-left: 8px;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      text-align: center;
      line-height: 34px;
      background-color: rgba(255, 255, 255, 0.3);
      color: #3c5d96;

      &:first-of-type {
        margin-left: 16px;
      }
    }

    ul {
      margin-top: 18px;
      padding-left: 0px;
      list-style: none;

      li {
        margin-bottom: 10px;
        line-height: 1.5;
        color: #8fbfff;
      }
    }
  }

  a {
    color: #ffffff;

    &:hover, &:focus, &:active {
      color: #ffffff;
    }
  }
}

.why-section {
  position: relative;
  padding-bottom: 60px;

  .figure {
    position: absolute;

    &.t-l {
      top: 153px;
      left: 20%;
    }

    &.t-c {
      top: 205px;
      left: 50%;
    }

    &.b-r {
      bottom: 56px;
      right: 20%;
    }
  }

  .item {
    margin-bottom: 45px;
  }

  .arrow {
    position: absolute;
    left: 0px;
    bottom: -30px;
    width: 100%;
    z-index: 10;
  }
}

@import "media";