@charset "UTF-8";
@font-face {
  font-family: 'Circle';
  src: url("../fonts/Circe-Thin.otf");
  src: local("☺"), url("../fonts/Circe-Thin.otf");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: 'Circle';
  src: url("../fonts/Circe-Light.otf");
  src: local("☺"), url("../fonts/Circe-Light.otf");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Circle';
  src: url("../fonts/Circe.otf");
  src: local("☺"), url("../fonts/Circe.otf");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Circle';
  src: url("../fonts/Circe-Bold.otf");
  src: local("☺"), url("../fonts/Circe-Bold.otf");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'Circle';
  src: url("../fonts/Circe-ExtraBold.otf");
  src: local("☺"), url("../fonts/Circe-ExtraBold.otf");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: 'Flow';
  src: url("../fonts/FlowRegular.ttf");
  src: local("☺"), url("../fonts/FlowRegular.ttf");
  font-weight: 400;
  font-style: normal; }
body {
  font-family: 'Circle';
  font-size: 16px;
  font-weight: 400;
  line-height: 1.63;
  color: #434343; }

a {
  color: #434343; }
  a:hover, a:focus, a:active {
    text-decoration: none;
    color: #e8f3fe; }

img {
  max-width: 100%;
  height: auto; }

.v-center {
  display: inline-block;
  vertical-align: middle;
  float: none; }

.page-title {
  margin-top: 28px;
  margin-bottom: 20px;
  font-size: 35.8px;
  font-weight: 700;
  line-height: 1.35;
  width: 550px;
  color: #ffffff; }

.section-title {
  margin-top: 75px;
  margin-bottom: 45px;
  font-size: 50px;
  font-weight: 300;
  line-height: 1.04;
  color: #ffffff; }

::-webkit-input-placeholder {
  color: #000; }

::-moz-placeholder {
  color: #000; }

:-moz-placeholder {
  color: #000; }

:-ms-input-placeholder {
  color: #000; }

.loader {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 999; }

.form-control {
  min-height: 46px;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  background-color: #f0f0f0; }
  .form-control:hover, .form-control:focus, .form-control:active {
    box-shadow: none; }

.has-success .form-control {
  box-shadow: none !important;
  border-color: transparent !important;
  color: #e8f3fe !important; }
.has-success .input:after {
  content: "\f058";
  color: #e8f3fe; }

.has-danger .form-control {
  box-shadow: none !important;
  border-color: transparent !important;
  color: #ff0000 !important; }
.has-danger .input:after {
  content: "\f06a";
  color: #ff0000; }

.has-feedback .input {
  position: relative; }
  .has-feedback .input:after {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 15px;
    height: auto;
    font-family: 'FontAwesome'; }

.btn {
  border-radius: 0px;
  font-size: 18px;
  line-height: 1.44; }

.btn-primary {
  border-color: #e8f3fe;
  background-color: #e8f3fe;
  color: #ffffff; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    border-color: #b7dafc !important;
    background-color: #b7dafc !important;
    color: #ffffff !important; }

.btn-success {
  border-color: #ffffff;
  background-color: #ffffff;
  color: #434343; }
  .btn-success:hover, .btn-success:focus, .btn-success:active {
    background-color: #00b7ec;
    color: #ffffff; }

.modal-content {
  border-radius: 0px; }

.modal-body {
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 40px; }
  .modal-body h4 {
    font-weight: 700; }

.modal-title {
  margin-top: 25px;
  font-size: 24px; }

.main-header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  z-index: 10; }
  .main-header .logo {
    width: 226px;
    float: left; }
  .main-header .contacts {
    position: relative;
    float: right; }
    .main-header .contacts .phon {
      float: right;
      font-size: 20px;
      letter-spacing: 1px;
      height: 45px;
      color: #22578c;
      margin-top: 8px;
      line-height: 45px;
      text-decoration: none;
      position: relative;
      cursor: pointer; }
      @media (max-width: 1220px) {
        .main-header .contacts .phon {
          margin-right: 30px; } }
      @media (max-width: 455px) {
        .main-header .contacts .phon {
          padding-left: 0; } }
      @media (max-width: 345px) {
        .main-header .contacts .phon {
          margin-right: 0; } }
      .main-header .contacts .phon img {
        display: block;
        float: left;
        margin-right: 12px;
        margin-top: 10px; }
      @media (max-width: 720px) {
        .main-header .contacts .phon span {
          display: none; } }
      .main-header .contacts .phon p {
        float: right;
        white-space: nowrap; }
      .main-header .contacts .phon .open-phone-list {
        position: absolute;
        top: 7px;
        right: -30px; }
        @media (max-width: 345px) {
          .main-header .contacts .phon .open-phone-list {
            right: -10px; } }
    .main-header .contacts .phone-list {
      border-radius: 8px;
      background-color: #ffffff;
      box-shadow: 0 2px 27px 0 rgba(0, 0, 0, 0.02);
      width: 294px;
      padding-top: 12px;
      padding-left: 19px;
      padding-bottom: 10px;
      padding-right: 22px;
      position: absolute;
      top: 0;
      right: -30px;
      z-index: 100;
      display: none; }
      @media (max-width: 1220px) {
        .main-header .contacts .phone-list {
          right: 10px; } }
      @media (max-width: 400px) {
        .main-header .contacts .phone-list {
          right: 0; } }
      .main-header .contacts .phone-list ul {
        width: 240px; }
        .main-header .contacts .phone-list ul li {
          list-style: none; }
        .main-header .contacts .phone-list ul img {
          margin-right: 11px; }
        .main-header .contacts .phone-list ul .schedule {
          font-size: 14px;
          color: #3d3d3d;
          line-height: 20px;
          padding-top: 7px; }
      .main-header .contacts .phone-list .phon {
        position: absolute;
        top: -6px; }
        @media (max-width: 455px) {
          .main-header .contacts .phone-list .phon {
            left: 15px; } }
      .main-header .contacts .phone-list .close {
        position: absolute;
        top: 7px;
        right: 20px; }
      .main-header .contacts .phone-list li {
        margin-bottom: 3px; }
      .main-header .contacts .phone-list a {
        text-decoration: none;
        font-size: 20px;
        letter-spacing: 1px;
        color: #22578c; }

.before-footer {
  padding-top: 53px;
  padding-bottom: 5px; }
  .before-footer .content {
    display: flex;
    justify-content: space-around; }
    @media (max-device-width: 991px) {
      .before-footer .content {
        width: 280px;
        flex-wrap: wrap;
        margin: 0 auto; } }
    .before-footer .content .address {
      width: 285px;
      margin-top: 16px; }
      @media (max-width: 780px) {
        .before-footer .content .address {
          margin-top: 200px; } }
      .before-footer .content .address p {
        padding-left: 40px;
        line-height: 24px;
        margin-bottom: 30px;
        background-image: url("../img/map-marker.svg");
        background-position: left top;
        background-repeat: no-repeat;
        position: relative; }
        .before-footer .content .address p span {
          position: absolute;
          color: #ffffff;
          background-color: #4ca6ff;
          width: 13px;
          height: 13px;
          border-radius: 50%;
          text-align: center;
          left: 13px;
          top: -7px;
          line-height: 10px;
          font-size: 10px;
          padding-top: 2px;
          padding-left: 1px; }
    .before-footer .content .phon-footer {
      letter-spacing: 1px;
      margin-top: 8px;
      line-height: 34px;
      text-decoration: none;
      position: relative;
      width: 210px; }
      @media (max-width: 780px) {
        .before-footer .content .phon-footer {
          margin-top: -350px;
          width: auto; } }
      .before-footer .content .phon-footer img {
        display: block;
        float: left;
        margin-right: 12px;
        margin-top: 10px; }
      .before-footer .content .phon-footer .phon {
        position: absolute;
        left: -7px;
        top: -8px; }
      .before-footer .content .phon-footer li {
        height: 23px;
        margin-bottom: 6px;
        list-style: none; }
      .before-footer .content .phon-footer a {
        text-decoration: none;
        font-size: 16px;
        letter-spacing: 1px;
        color: #22578c; }
      .before-footer .content .phon-footer .schedule {
        font-size: 14px;
        color: #3d3d3d;
        padding-left: 30px;
        line-height: 20px;
        padding-top: 7px; }

footer {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 14px;
  background-color: #ffffff;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(67, 67, 67, 0.7); }
  footer a:hover {
    color: rgba(67, 67, 67, 0.7); }

.top-section {
  padding-top: 105px;
  position: relative;
  height: 608px;
  background: url("../img/top-section/bg.jpg") top center no-repeat;
  background-size: cover;
  color: #ffffff; }
  .top-section .overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #007fff;
    opacity: 0.7;
    z-index: 1; }
  .top-section .bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden; }
    .top-section .bg-video video {
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto; }
  .top-section .outer {
    position: relative;
    float: left;
    width: 58.33333333%;
    z-index: 5; }
  .top-section .message {
    position: absolute;
    left: 50%;
    bottom: 55px;
    margin-left: -132.5px;
    z-index: 5; }
  .top-section .date {
    margin-top: 35px;
    font-size: 14px;
    letter-spacing: 1.4px; }
  .top-section .after-title {
    font-weight: 300;
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 73px; }
  .top-section .fb {
    vertical-align: baseline; }
  .top-section .in {
    vertical-align: bottom; }
  .top-section .share {
    margin-top: 28px;
    font-size: 14px; }
  .top-section .subscribe-form {
    position: relative;
    padding: 46px 40px 38px;
    width: 400px;
    background-color: #ffffff;
    color: #434343;
    box-shadow: 0 0 27px 0 rgba(0, 0, 0, 0.11);
    z-index: 5; }
    .top-section .subscribe-form .title {
      margin-top: 0px;
      margin-bottom: 29px;
      font-size: 22px;
      color: #22578c;
      line-height: 28px;
      font-weight: 700; }
      .top-section .subscribe-form .title small {
        font-size: 18px;
        font-weight: 300;
        color: #22578c; }
    .top-section .subscribe-form .form-group {
      height: 60px;
      width: 100%;
      position: relative; }
      .top-section .subscribe-form .form-group input {
        width: 100%;
        height: 100%;
        padding-left: 20px;
        color: rgba(33, 33, 33, 0.9);
        font-weight: 300; }
      .top-section .subscribe-form .form-group .intl-tel-input {
        width: 100%;
        height: 100%; }
        .top-section .subscribe-form .form-group .intl-tel-input input {
          padding-left: 50px; }
    .top-section .subscribe-form button[type=submit] {
      width: 100%;
      height: 70px;
      border-radius: 3px;
      background-color: #007fff;
      font-size: 18px;
      letter-spacing: 1.1px;
      color: #ffffff;
      border: none; }
      .top-section .subscribe-form button[type=submit]:hover {
        background-color: #00b7ec; }
    .top-section .subscribe-form .count {
      margin-top: 11px; }
      .top-section .subscribe-form .count .number {
        display: inline-block;
        margin-left: 9px;
        width: 30px;
        height: 30px;
        line-height: 32px;
        border-radius: 50%;
        background-color: #ff0000;
        color: #ffffff; }
  .top-section .arrow {
    position: absolute;
    left: 0px;
    bottom: -30px;
    width: 100%;
    z-index: 5; }

.you-know-section {
  position: relative;
  padding-bottom: 64px; }
  .you-know-section p {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.63;
    color: #555555;
    margin-top-top: 38px; }
    .you-know-section p img {
      margin-left: 10px; }
  .you-know-section .description {
    position: relative;
    margin-bottom: 37px;
    padding-left: 0px;
    list-style: none; }
    .you-know-section .description li {
      margin-bottom: 30px;
      background-image: url("../img/you-know-section/list-marker.svg");
      background-repeat: no-repeat;
      background-position: top left;
      padding-left: 43px;
      font-size: 20px;
      line-height: 1.5;
      text-align: left;
      color: #555555; }
  .you-know-section .fb-like {
    margin-bottom: 38px; }
  .you-know-section .like-outer {
    position: absolute;
    left: 0px;
    bottom: 35px;
    width: 100%;
    font-family: 'Flow'; }
    .you-know-section .like-outer img {
      margin-left: 15px; }

.who-useful-section {
  position: relative;
  padding-bottom: 146px;
  background-color: #e8f3fe;
  color: #ffffff; }
  .who-useful-section .arrow {
    position: absolute;
    top: -20px;
    left: 0px;
    width: 100%; }
  .who-useful-section .line {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: url("../img/who-useful-section/line.png") bottom center no-repeat;
    background-size: cover; }
  .who-useful-section .section-title {
    margin-bottom: 98px; }
  .who-useful-section .item .title {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.08;
    color: #22578c; }
  .who-useful-section .item .description {
    color: #22578c;
    font-size: 20px;
    line-height: 1.5; }

.programs-section {
  position: relative;
  margin-top: -40px;
  padding-bottom: 47px;
  z-index: 5; }
  .programs-section .section-title {
    margin-top: 35px;
    margin-bottom: 95px;
    font-weight: 700;
    color: #ffffff; }
  .programs-section .outer {
    box-shadow: 0 0 43.2px 10.8px rgba(0, 0, 0, 0.06); }
  .programs-section .item {
    padding-left: 100px;
    padding-right: 100px;
    background-color: #ffffff; }
    .programs-section .item.bg {
      padding-top: 75px;
      padding-bottom: 100px;
      background-color: #006af7; }
    .programs-section .item .btn-subscribe {
      padding: 0px;
      width: 320px;
      height: 60px;
      line-height: 56px;
      color: #006af7; }
  .programs-section .description {
    padding-top: 30px; }
    .programs-section .description ol {
      padding-left: 0px; }
      .programs-section .description ol li {
        margin-bottom: 15px;
        font-size: 18px;
        line-height: 1.67;
        color: #434343; }

.speaker-section {
  position: relative;
  padding-top: 20px;
  padding-bottom: 50px;
  background-color: #e8f3fe;
  color: #ffffff; }
  @media (max-width: 1160px) {
    .speaker-section {
      padding-bottom: 20px; } }
  .speaker-section .section-title {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 50.3px;
    font-weight: 300;
    line-height: 1.04; }
  .speaker-section .thumb {
    position: absolute;
    bottom: 0px;
    left: 70px; }
    @media (max-width: 1320px) {
      .speaker-section .thumb {
        left: 0; } }
    @media (max-width: 1160px) {
      .speaker-section .thumb {
        width: 450px; } }
    @media (max-width: 991px) {
      .speaker-section .thumb {
        left: 50%;
        margin-left: -225px; } }
    @media (max-width: 650px) {
      .speaker-section .thumb {
        width: 300px;
        margin-left: -150px; } }
  .speaker-section .description .name {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.08;
    color: #22578c; }
  .speaker-section .description .social {
    display: inline-block;
    margin-left: 8px;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 34px;
    color: #3c5d96;
    background-image: url("../img/speaker-section/facebook.png");
    background-repeat: no-repeat;
    background-position: center; }
    .speaker-section .description .social:first-of-type {
      margin-left: 16px; }
  .speaker-section .description ul {
    margin-top: 18px;
    padding-left: 0px;
    list-style: none; }
    .speaker-section .description ul li {
      margin-bottom: 25px;
      font-size: 20px;
      line-height: 1.5;
      color: #22578c; }
      @media (max-width: 1160px) {
        .speaker-section .description ul li {
          margin-bottom: 15px; } }
  .speaker-section a {
    color: #22578c; }
    .speaker-section a:hover, .speaker-section a:focus, .speaker-section a:active {
      color: #22578c; }

.why-section {
  position: relative;
  padding-bottom: 60px;
  background-image: url("../img/59.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; }
  .why-section .section-title {
    color: #ffffff;
    font-size: 36.2px;
    font-weight: 300;
    line-height: 1.44; }
  .why-section .figure {
    position: absolute; }
    .why-section .figure.t-l {
      top: 153px;
      left: 20%; }
    .why-section .figure.t-c {
      top: 205px;
      left: 50%; }
    .why-section .figure.b-r {
      bottom: 56px;
      right: 20%; }
  .why-section .item {
    margin-bottom: 45px;
    font-size: 20px;
    line-height: 1.5;
    color: #ffffff; }
  .why-section .arrow {
    position: absolute;
    left: 0px;
    bottom: -30px;
    width: 100%;
    z-index: 10; }

.thx {
  background-color: #e8f3fe;
  padding: 100px 0 150px; }
  .thx h1 {
    color: #22578c;
    line-height: 1.5;
    font-weight: 700;
    margin-bottom: 50px; }
    @media (max-width: 480px) {
      .thx h1 {
        margin-bottom: 0; } }
  .thx .likely {
    width: 380px;
    margin: 0 auto;
    display: block; }
    @media (max-width: 400px) {
      .thx .likely {
        width: 100%; } }
  .thx p {
    text-align: center;
    color: #22578c; }
  .thx .mcwidget-embed {
    margin-bottom: 30px; }

/*
====== Large Devices, Wide Screens: ======
*/
@media only screen and (max-width: 1200px) {
  .top-section .date {
    margin-top: 0px; }
  .top-section .subscribe-form {
    width: 390px; }
    .top-section .subscribe-form .input {
      margin-left: -2px;
      width: 212px; }
  .top-section .message {
    display: none; }

  .you-know-section .like-outer {
    display: none; }

  .programs-section .item {
    padding-left: 60px;
    padding-right: 60px; }
    .programs-section .item.bg {
      padding-top: 90px; } }
/*
====== Medium Devices, Desktops: ======
*/
@media only screen and (max-width: 992px) {
  .top-section {
    padding-bottom: 60px;
    height: auto; }
    .top-section .outer {
      width: 100%; }
    .top-section .subscribe-form {
      margin-top: 30px;
      float: left !important; }

  .page-title {
    margin-bottom: 25px; }

  .who-useful-section {
    padding-bottom: 100px; }
    .who-useful-section .section-title {
      margin-bottom: 45px; }
    .who-useful-section .item {
      margin-bottom: 30px; }

  .you-know-section {
    padding-bottom: 80px; }

  .programs-section .section-title {
    margin-bottom: 45px; }
  .programs-section .item {
    padding-top: 30px !important;
    padding-bottom: 30px !important; }

  .speaker-section {
    padding-bottom: 400px; } }
/*
====== Small Devices, Tablets: ======
*/
@media only screen and (max-width: 640px) {
  .top-section {
    padding-top: 140px; }

  .page-title {
    width: 100%; }

  .speaker-section {
    padding-bottom: 350px; }

  .why-section .figure {
    display: none; } }
/*
====== Extra Small Devices, Phones: ======
*/
@media only screen and (max-width: 480px) {
  .page-title {
    font-size: 28px;
    line-height: 1.3; }
    .page-title img {
      width: 100px; }

  .top-section .subscribe-form {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px; }
    .top-section .subscribe-form .label {
      display: none; }
    .top-section .subscribe-form .input {
      width: 100%; }

  .section-title {
    font-size: 28px;
    margin-bottom: 35px; }

  .fb_iframe_widget {
    display: none !important; }

  .programs-section .item {
    padding-left: 30px;
    padding-right: 30px; }
    .programs-section .item .btn-subscribe {
      width: 100%; }

  .speaker-section {
    padding-bottom: 300px; }
    .speaker-section .description .name {
      font-size: 20px; }

  .before-footer .phone {
    margin-right: 0px; }

  footer .privacy, footer .copyright {
    float: none !important; }
  footer .copyright {
    margin-top: 15px; } }
/*
====== Custom, iPhone Retina: ======
*/

/*# sourceMappingURL=style.css.map */
