<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<lottie-player src="https://assets7.lottiefiles.com/packages/lf20_v5vzsa1r/data.json"  background="transparent"  speed="1"  style="width: 1000px; height: 960px;"  loop  autoplay></lottie-player>